[2018-10-30 18:22] minimaxir opened #1 "Keras Model API support for adanet"
As mentioned in [discussion on Hacker News](https://news.ycombinator.com/item?id=18339487), native support for Keras's APIs (including layer support) would make implementation of adanet a lot easier for Keras-based projects (either via `tf.keras` or external `keras`).

[2018-10-30 18:49] impredicative commented on #1
Please avoid linking to pointless discussions on the web. The issue stands on its own. Github issue notes should be kept to a minimum and should ideally be self-contained. I recommend editing your message.

[2018-10-30 22:28] youph commented on #1
@impredicative Why thumbs down?

[2018-10-30 22:50] cweill commented on #1
@minimaxir Thank you for filing this feature request. We'll take a look.

[2018-10-31 00:04] Mistobaan opened #2 "Minimum bazel version required"
Seems there is a minimum bazel version requirement not explicitly set in the WORKSPACE

[2018-10-31 00:05] Mistobaan opened #3 "bazel build not working"
[code]

[2018-10-31 00:11] cweill commented on #3
Which version of Bazel are you using? I've built with as low as v0.15.2.

In the meantime, you can install the official [Pypi package](https://pypi.org/project/adanet/):  `pip install adanet`

[2018-10-31 02:51] jaikumarm commented on #1
+1

[2018-10-31 09:57] tanaka-jp opened #4 "Error running adanet_objective on Windows 7 (Japanese) with Python 3"
I try to run example on Windows 7 (Japanese) .
    https://github.com/tensorflow/adanet/blob/master/adanet/examples/tutorials/adanet_objective.ipynb
And this error occured.

INFO:tensorflow:Encountered end of input during report materialization
INFO:tensorflow:Materialized subnetwork_reports.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 43, in tra

[2018-10-31 09:58] ShettyHarapanahalli commented on #3
I have the latest version of bazel, but still I am not able to run the example  :
bazel version
Build label: 0.19.0
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Mon Oct 29 14:35:30 2018 (1540823730)
Build timestamp: 1540823730
Build timestamp as int: 1540823730

There is a error when we run the test ~/adanet$ bazel test -c

[2018-10-31 10:01] ShettyHarapanahalli commented on #4
I also got same issue on ubuntu 16.04
ValueError: b"\n\x83\x01\n;adanet/iteration_2/ensemble_3_layer_dnn/architecture/adanetB:\x08\x07\x12\x00B4| b'1_layer_dnn' | b'2_layer_dnn' | b'3_layer_dnn' |J\x08\n\x06\n\x04text" has type str, but isn't valid UTF-8 encoding. Non-UTF-8 strings must be converted to unicode objects before being added.

[2018-10-31 11:10] SUYEgit opened #5 "adanet for object detection"
Hi, thank you for sharing this brilliant automl tool！I wish I could implement your code, but in most industry scene tasks are complicated and will not be able to be solved by classification.

When would you provide adanet for object detection task? Or do you have the plan?

I find out that most popular automl tools are not capable to apply on task like object detection, semantic segmantation, such

[2018-10-31 11:24] GitHub30 commented on #4
Please try with Python 2

[2018-10-31 11:53] michael20at opened #6 "ImportError: cannot import name 'report_pb2'"
I'm using Winpython 3.6, bazel test -c opt returns no error, I can install the pip package.

But when I try to import adanet I get "ImportError: cannot import name 'report_pb2'"

Full error message is:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Michael\Desktop\WinPython3-6GPU\examples\Sonstiges\adanet\adanet\__init__.py", line 22, in <module>
    fro

[2018-10-31 12:17] Contractfit commented on #6
I have exactly the same, but on Linux 16.04, python 3.5.2, tensorflow 1.8.0.

bazel test -c opt returns error:

//adanet/core:candidate_test                                             FAILED in 0.4s
  /home/jordy/.cache/bazel/_bazel_jordy/2a42af54a45e41dee977742377d30bc8/execroot/org_adanet/bazel-out/k8-opt/testlogs/adanet/core/candidate_test/test.log
//adanet/core:ensemble_test

[2018-10-31 12:33] michael20at commented on #6
Excuse me, but I think we have a different problem. I already have protobuf 3.6, and bazel works just fine!

I can also do pip install adanet.

The problem arises when I try to import adanet in python, results in "cannot import name 'report_pb2".

Do I have to build my own wheel? There are instructions in folder "pip_package", but I can't seem to build the package as of yet because of linux/window

[2018-10-31 12:48] michael20at commented on #6
Built my own wheel now, but didn't help, still get  "cannot import name 'report_pb2".

I checked the report_accessor.py file, there is a "from adanet.core import report_pb2 as report_proto" statement, but in the core folder there is no report_pb2 file, so no wonder it doesn't work!

Am I missunderstanding something here?

[2018-10-31 12:53] ShettyHarapanahalli commented on #4
The model started with no errors on python2

[2018-10-31 16:04] GitHub30 commented on #6
This problem is fixed at db0923f1aaf6cb546ad69da9eb379ea75f83f207

Fix worked when using Python 2

https://colab.research.google.com/github/GitHub30/adanet/blob/google-colaboratory/adanet/examples/tutorials/adanet_objective.colab.ipynb

https://colab.research.google.com/github/GitHub30/adanet/blob/google-colaboratory/adanet/examples/tutorials/customizing_adanet.colab.ipynb

[2018-10-31 16:23] cweill commented on #6
This can happen if you built the code from withing your local clone of `adanet`. Try `cd`'ing out of the directory (e.g. `$ cd ~`) and trying again.

[2018-10-31 16:31] cweill opened #7 "`from adanet.examples import simple_dnn` raises exception"
Stack-trace when installing from pypi. See #3.

In [customizing_adanet notebook](https://colab.research.google.com/drive/1Qf-pfBrNaMTmaPs3qZ16CyNy9p20drBc#scrollTo=x_3b6xx2s6B9), when doing `!pip install adanet` and then `from adanet.examples import simple_dnn`

[code]

[2018-10-31 16:55] GitHub30 opened #8 "TPU support for Estimator"
Hi

Is it possible to write AdaNet programs to utilize TPU? Are there corresponding AdaNet APIs?

Thanks for any help!

[2018-10-31 17:01] michael20at commented on #6
First, thanks for the help. I tried it out with Python 2, it works.

But the error still exists on Python 3, even when moving out of the directory. Does Adanet only work with Python 2? If so, I would suggest to update the readme regarding this.

[2018-10-31 17:37] ShettyHarapanahalli opened #9 "Adanet_object model not saved"
Well I was able to complete the execution of the "Adanet_object", but i dont see the model saved.
Where is the model/architecture saved ?

[2018-10-31 18:31] cweill commented on #5
Thank you for your kind words. We would like to make AdaNet as flexible as possible to support different real-world tasks. Could you please provide some examples of object detection datasets and/or frameworks we could look at for inspiration? Do you know if any of them are implemented in TensorFlow using the `tf.estimator.Estimator` API?

[2018-10-31 19:01] cweill commented on #7
This is now resolved in PyPi. Please upgrade your pip installation to at least `adanet-0.1.0.dev2`.

[2018-10-31 22:59] jiayiliu commented on #3
@ShettyHarapanahalli
Use `bazel test -c opt -j 1 //...`
The `-j 1` will run 1 job a time.

[2018-11-01 02:36] zhouhao-learning opened #11 "Test failed"
When I installed `bazel`, I executed the `bazel test -c opt //...` command and got a failed test.
[code]
My tensorflow version is 1.7,What is the problem?

[2018-11-01 09:02] zhouhao-learning commented on #4
@GitHub30
How can I use python3 to make the code work? Because python2 is no longer applicable.

[2018-11-01 09:41] Efaq commented on #4
Working on Ubuntu 16.02 with python 2, NOT working on Windows 10 with Python 3. I get the same error as reported.
@GitHub30 Is there Python 3 compatibility in the roadmap? As @zhouhao-learning also said, we should stop using Python 2.

[2018-11-01 09:54] zhouhao-learning commented on #4
@GitHub30
Even if I change to a python2 environment, I will still get an error:
[code]

[2018-11-01 10:15] zhouhao-learning commented on #7
@cweill
I upgraded my pip, then I executed `pip install adanet-0.1.0.dev2` and could not find the correct package, and your github did not have the `adanet-0.1.0.dev2` branch. How should I solve this problem?

[2018-11-01 14:21] cweill commented on #7
@zhouhao-learning: You will need to run `pip install adanet==0.1.0.dev2` to download the new package from from [Pypi](https://pypi.org/project/adanet/0.1.0.dev2/).

I have the changes ready but they are not yet pushed to this repository. You won't be able to use `adanet.examples` when installing from source with pip just yet. In the meantime you can install as described above.

[2018-11-01 16:09] Efaq commented on #4
@GitHub30 Does it mean you cannot reproduce the error? Is the pull request mentioned aiming to fix it?
Here is a more detailed specs from my environment, where I still can reproduce the error:
Windows 10, Python 3.6, virtualenv with Tensorflow 1.12.0rc2 and adanet 0.1.0.dev2. Some checkpoints saved, and then the error:
`ValueError: b"\n\x83\x01\n;adanet/iteration_2/ensemble_2_layer_dnn/architectur

[2018-11-01 17:02] #7 closed

[2018-11-01 17:20] cweill commented on #6
AdaNet officially supports Python 2 and Python 3. So if anything doesn't work, it's a bug. :)

Other users have been able to successfully train their models with both versions. See this [comment](https://github.com/tensorflow/adanet/issues/4#issuecomment-435077964).

[2018-11-01 17:45] xhlulu opened #14 "Colaboratory Notebooks for the tutorials"
I noticed that for the [Jupyter Notebook tutorials](https://github.com/tensorflow/adanet/tree/master/adanet/examples/tutorials), there wasn't any corresponding Colaboratory notebook. It would be nice to have them for quickly getting started and for beginners, since setting up the notebooks locally require a lot of steps (install cuda, update protoc, update protobuf, etc.)

Would it be reasonable t

[2018-11-01 19:50] cweill commented on #14
@xhlulu: That would be most welcome. Could you please add links to Colab and GitHub in the notebooks similar to how [TensorFlow does it](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/eager/python/examples/notebooks/custom_layers.ipynb).

[2018-11-01 20:50] #4 closed

[2018-11-01 20:56] cweill commented on #2
f3ff102ff70fdc39100810638d8283db5d1897e2 fixes this.

[2018-11-01 20:57] cweill commented on #11
Could you please share the log outputs with the failure?

[2018-11-01 21:06] cweill commented on #3
@ShettyHarapanahalli: This should be fixed now with #12 .

[2018-11-01 21:07] cweill commented on #3
@Mistobaan : Are you still encountering the original error?

[2018-11-01 22:37] cweill opened #15 "Add Public Continuous Integration"

[2018-11-02 01:42] zhouhao-learning commented on #11
@cweill
This is one of the error logs, and other error logs are similar:
[code]

[2018-11-02 02:45] zhouhao-learning opened #16 "Customizing_adanet tutorial error"
In customizing_adanet notebook, When I ran the Customizing_adanet tutorial error notebook, I got the following error at the end:
[code]
This is your latest code, how should I solve this problem?

[2018-11-02 04:23] miaozhang0525 opened #17 "Test error when running tutorial examples"
After pip install adanet, I went to run tutorial examples, I got following error, what should I do to solve this problem?

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpp5sv1icl
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpp5sv1icl', '_tf_random_seed': 42, '_save_summary_steps': 50000, '_save_checkpoints_steps': 50000, '_save_checkpoints_secs': None, '_session_conf

[2018-11-02 12:35] dtrippas commented on #16
Wrap list() around features.values() to fix this error. A similar issue is referenced on [stackoverflow](https://stackoverflow.com/questions/17431638/get-typeerror-dict-values-object-does-not-support-indexing-when-using-python)

[2018-11-02 13:30] WangHexie commented on #3
still error

[2018-11-02 15:19] cweill opened #18 "Test tutorial notebooks with Python 3"
Currently they are only tested with Python 2.7.

[2018-11-02 15:20] cweill commented on #16
These tutorials were not tested with Python 3: #18. @dtrippas's response is correct.

[2018-11-02 17:22] Mistobaan commented on #3
@cweill yes still same error.
[code]

[2018-11-02 18:54] cweill commented on #3
Could you try installing v0.2.0 from PyPi with pip. Let me know if that works for you.

[2018-11-02 18:59] ShettyHarapanahalli commented on #3
This was fixed with py2 for me.

[2018-11-04 03:47] dustinvtran commented on #15
[Tensor2Tensor's Travis setup](https://github.com/tensorflow/tensor2tensor/blob/master/.travis.yml) could be a helpful reference. It avoids conflicts well with, e.g., any internal infrastructure.

[2018-11-04 03:59] raijinspecial commented on #6
I had the exact same problem (ImportError: cannot import name 'report_pb2') on Ubuntu 18.04 with python 3.6.6, but I figured out the problem in my case.

I created a virtual environment with pip using conda:

conda create --name ada python==3.6 pip

I built and installed the pip package and had no problem importing adanet when running python from the terminal. I got that error when importing into

[2018-11-04 14:04] PaulGitt commented on #3
This work for me, thanks liu.

[2018-11-05 03:15] Bjoux2 commented on #7
pip3 install --upgrade adanet

[2018-11-05 23:55] #16 closed

[2018-11-06 15:20] cweill commented on #15
@dustinvtran: That's a great idea! Thanks for the tip. :)

[2018-11-07 09:22] yuezhilanyi opened #20 "while running tutorials, TypeError: 'NoneType' object is not iterable"
edit:
gpu version, with cuda9.0

    Have I written custom code: no
    OS Platform and Distribution : win10, x64
    TensorFlow installed from (source or binary): pip binary
    TensorFlow version (use command below): 1.8  (gpu version)
    Cuda version: 9.0
    Cudnn: 7.1
    Python version: 3.5.2

when i run the two tutorials, it ended with the same issue:

<ipython-input-5-80a18bd210b7> in <mo

[2018-11-07 18:19] cweill commented on #20
Could it be that EvalSpec did not support `None` steps in TF 1.8?

[2018-11-08 01:17] yuezhilanyi commented on #20
@cweill
i changed it to 100 (the default number for tf.estimator.EvalSpec). it finished evaluation, but ends with " 'NoneType' object is not iterable" too.

before: (steps=None):

after: (steps=100):

[2018-11-08 03:45] cweill commented on #20
@yuezhilanyi: Could you please copy the full log from start to end? It's not clear what is raising this `TypeError`.

In the meantime you can use Colab to run the tutorials. For examples: https://colab.research.google.com/github/tensorflow/adanet/blob/master/adanet/examples/tutorials/adanet_objective.ipynb

[2018-11-08 06:42] yuezhilanyi commented on #20
@cweill

Here is the full log.
[full_log.txt](https://github.com/tensorflow/adanet/files/2560570/full_log.txt)

[2018-11-08 15:09] JimAva opened #22 "How-to serve"
How-to question: I've been testing and learning with the "adanet_objective" sample.  How do you use the recommended model to run predictions samples and eventually serve for live data feed?

[2018-11-08 20:49] cweill commented on #22
If you want to test predictions on a few batches or a `tf.data.Dataset` you can use [`Estimator.predict`](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#predict).

In order to serve for a live data feed, you first need to call [`Estimator.export_saved_model`](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#export_saved_model). Then you can serve the exported `t

[2018-11-09 07:34] raijinspecial commented on #22
Sorry for a dumb question, but if it will keep me and anyone else having this issue from banging their head against the keyboard, I will ask it.

I've been testing the tutorial model for the boston house prices and am also trying to get Estimator.predict to predict. I can export the model, but calling predict always gives one of two errors.

`final_prediction = adanet.Estimator.predict(input_fn, t

[2018-11-09 11:08] JimAva commented on #22
It would be great if we could get the sample code on exporting/saving model and prediction.   Having a difficult time figuring these steps out.  Thank you in advance.

[2018-11-09 15:04] cweill commented on #22
You need to call these methods on your `estimator = adanet.Estimator()` instance, not on the class. So change `final_prediction = adanet.Estimator.predict(input_fn)` to be `final_prediction = estimator.predict(input_fn)`

[2018-11-09 15:34] JimAva commented on #22
raijinspecial - how did you save your model?  Would you mind sharing the code for saving and predicting? Thank you guys.

[2018-11-09 15:52] cweill commented on #22
The following test goes through the full lifecycle of the `adanet.Estimator`:

https://github.com/tensorflow/adanet/blob/v0.3.0/adanet/core/estimator_test.py#L555

You can use it as a reference.

[2018-11-09 16:58] #15 closed

[2018-11-10 00:20] JimAva commented on #22
Thank you for the reference.  I'm not a python guru so I'm still struggling to get the code working for prediction and saving.  Anyway to provide working code after running the "Adanet_objective.ipynb" code?  It'd be greatly appreciated for such a great project.

Thank you in advance.

[2018-11-10 04:13] JodyZXD opened #23 "Combination of subnetworks"

[2018-11-10 04:14] #23 closed

[2018-11-10 04:17] JodyZXD opened #24 "Combination of subnetworks"
In Google's paper, "each unit in layer k of the subnetwork may have connections to existing units in layer k-1 if AdaNet", but the GIF shows differently. How do the subnetwoks combine exactly?

[2018-11-10 17:50] riham-mefleh opened #25 "Adanet problem"
I had a problem when I ran this code

TypeError                                 Traceback (most recent call last)
<ipython-input-20-8fc190d7b161> in <module>()
----> 1 results, _ = train_and_evaluate()
      2 print("Loss:", results["average_loss"])
      3 print("Architecture:", ensemble_architecture(results))

<ipython-input-12-af5cfdd1a8d1> in train_and_evaluate(learn_mixture_weights, adanet_la

[2018-11-10 20:37] smyrbdr commented on #16
Just replaced the corresponding line (images=features.vaules()[0]) in build_subnetwork function with the following line;
`images = tf.to_float(features[FEATURES_KEY])`
and this solved the issue for me

[2018-11-12 06:01] yuezhilanyi commented on #20
Tensorflow v1.10.0 improved local run behavior in tf.estimator.train_and_evaluate which does not reload checkpoints for evaluation, see [release.md](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md).

It maybe the reason that adanet doesn't work well on tf 1.8.0.

[2018-11-12 06:02] yuezhilanyi commented on #20
Tensorflow v1.10.0 improved local run behavior in tf.estimator.train_and_evaluate which does not reload checkpoints for evaluation, see [release.md](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md).

It maybe the reason that adanet doesn't work well on tf 1.8.0.

[2018-11-12 12:00] cicciobyte opened #26 "Multi-output regression"
Hi guys, thanks a lot for the cool piece of work!
I'd like to apply adanet on a multi-output regression problem.
I started from the tutorial 1 trying to apply as few changes as possible.
My understanding is that I probably just need to modify the estimator head.
Unfortunately just changing the label_dimension parameter does not work.

[code]
I get that on the very first iteration the model diverge

[2018-11-12 13:37] JimAva commented on #22
Thank you for sharing.   Please keep it coming.  This really helps.

[2018-11-12 15:10] cweill commented on #26
I wonder if the `NaN` is due to something else. For example, your datasets may contain `NaNs` or you may be doing some preprocessing that divides by zero or applies `log` to zero.

If your data is fine, maybe your learning rate is too high, so try something 100x smaller to start.

[2018-11-12 15:12] cweill commented on #20
Can you try upgrading to TF 1.9+? We recently bumped our minimum version to 1.9.

[2018-11-12 15:39] cicciobyte commented on #26
Input numerical issue on my side...
works as expected after removing the `tf.log1p` transformations in `input_fn`

[2018-11-12 15:39] #26 closed

[2018-11-12 16:15] githubgsq commented on #6
I installed through pip. Both python2 and python3 don't work.
I'm using **protobuf 3.6.1**

Traceback (most recent call last):
  File "./adanet/examples/nasnet_test.py", line 23, in <module>
    from adanet.examples import nasnet
  File "/home/gaosiqi/project/autoML_frameworks/adanet/adanet/__init__.py", line 22, in <module>
    from adanet.core import Ensemble
  File "/home/gaosiqi/project/autoML

[2018-11-12 16:33] cweill commented on #6
@githubgsq: looks like you are inside a directory like `/home/tf/project/autoML_frameworks/adanet/` that is contains the cloned repo, so Python is looking up local files and failing to find `report_pb2`. Instead, either change to a directory that doesn't include the adanet repo, or delete the repo, and this should be resolved.

[2018-11-12 22:43] mlaradji commented on #5
I am interested in using AdaNet for semantic segmentation. It seems to me that the main thing that would need to be implemented is an appropriate head for use in the AdaNet Estimator.

[2018-11-13 04:39] cweill commented on #24
AdaNet work on GPU just like any other TensorFlow Estimator. Any guide on the web to do GPU training should get you started.

You can also try GPU on Colab by changing the runtime hardware to `GPU`:

https://colab.research.google.com/github/tensorflow/adanet/blob/master/adanet/examples/tutorials/customizing_adanet.ipynb

[2018-11-13 05:37] githubgsq commented on #6
hi, @cweill , I changed to the other dir but same error.
from adanet.core import report_pb2 as report_proto
ImportError: cannot import name report_pb2
It seems that under adanet.core, there's no report_pb2.py
Also, I typed 'python' under $HOME, and
#import report_pb2
![image](https://user-images.githubusercontent.com/23164715/48392855-f8f06b00-e747-11e8-99c6-7cfefeebfabb.png)

[2018-11-13 09:35] yuezhilanyi commented on #20
@cweill

Sorry I can't, for it is for production sometimes also.

But I tried **on my own laptop** with **no gpu support** and TRAIN_STEPS=1000:
- when using TF 1.8, the same issues occured;
- when using TF 1.9, it succeeded

I run the whole adanet_objective.ipynb sucessfully.

[2018-11-13 16:25] cweill commented on #20
Unfortunately, I won't be able to look into TF 1.8 support for a while. If you figure out the source of the issue, feel free to submit a PR.

[2018-11-14 02:46] #14 closed

[2018-11-15 21:07] DrewParallel opened #28 "Saving model fails"
Since the example code did not actually save the model, I added the code below to do so. However, it fails with "TypeError: Value passed to parameter 'dense_defaults' has DataType float64 not in list of allowed values: float32, int64, string". The available "allowed values" for x_in fail with various other issues. How does one actually save the model to SavedModel format?

    x_in = tf.feature_co

[2018-11-15 21:50] cweill commented on #28
looks like the problem is your numeric_column has dtype `tf.float64`. Does it work if you change it to `tf.float32`?

[2018-11-15 21:58] DrewParallel commented on #28
Yes. Using tf.float32 gives the error:
ValueError: Input 0 of node wrapped_x_4 was passed float from wrapped_x:0 incompatible with expected double.

[2018-11-17 13:51] wuntoguo commented on #6
you can use protoc --python_out=./  report.proto create the missing file report_pb2.py

[2018-11-20 18:26] shazz opened #29 "[Question] How to retrieve the detailed ensemble architecture?"
Hi,
I'd like to retrieve, during the evaluation the detailed architecture of the ensemble and its sub network.

Using
[code]

It gives some hints like: ````Architecture: b"| b'simple_cnn' | b'simple_cnn' |"```` but that's not that detailed.
I'd like to have something like ````model.summary()```` with keras.

Is there a way to get the detailed architecture ?

Thanks !

[2018-11-21 11:57] tobymu commented on #24
@cweill Thanks for your great work!
If I want to combine simple cnn and simple dnn together, how could I do?
For example, I want to get a network "2_layer_dnn -> cnn -> cnn”

[2018-11-22 11:51] htw2012 commented on #29
I just use the tensorboard to find overall architecture. But I can't find the neural units in each layer.

[2018-11-23 08:12] svjack opened #30 "[Question] How to decide the value of "complexity" param in Subnetwork ?"
The paper say: "standard deviations of the outputs of the last hidden layer on the training data as surrogate for Rademacher complexities",
And customizing_adanet.ipynb example use tf.constant(1), is the value choose is robust to the conclusion ?
Or should set the value by standard deviations ?

[2018-11-23 08:21] svjack opened #31 "Could provide interface of tensorflow old api rather than use estimator ?"
I can  understand the motivation of use estimator api to
standardize the model construct and train methods in configuration,
But It may be complicated to debug with estimator api.

[2018-11-26 01:44] MingQi-Yuan opened #32 "use the demo code train a new dataset (got some problems )"
I got some problems with AdaNet API,when I use the customizing_adanet.ipynb in the
        adanet/adanet/examples/tutorials/  to train a new dataset, I got some error like this:

InvalidArgumentError: ValueError: `generator` yielded an element of shape (150, 150) where an element of shape () was expected.
Traceback (most recent call last):

  File "D:\Program Files\Anaconda3-5.2\lib\site-packages\

[2018-11-26 03:17] sunnyclown commented on #22
Sorry for a dumb question. I just use : estimator.RunConfig(model_dir="./model_ada") to get the ckpt model and some events, but how to use the final ckpt model to test?  where can I get the final learned overall architecture?   Thank you very much!

[2018-11-26 08:09] svjack opened #33 "May add multi_head support ?"
For multi-objective learning, may use multi_head to define "logits", head used in adanet
to increment network construction,.
Can I used multi_head  in adanet, or the support may be added in the future ?

[2018-11-26 21:34] cweill commented on #33
@svjack: We don't currently support multi-head. This has been a top feature request now, so I'm looking into adding it.

[2018-11-26 21:36] cweill commented on #31
Can you please give an example of what you would prefer the API to look like? Perhaps the new [`adanet.AutoEnsembleEstimator` ](https://github.com/tensorflow/adanet/blob/master/adanet/autoensemble/estimator.py#L114)may be a better API for your needs? I'm considering a simpler Keras-base API as well. But other options are welcome.

[2018-11-26 21:41] cweill commented on #29
You can also find the architectures in TensorBoard, if you go to the `Text` tab, you will find the architectures in real-time.

However, this is less than ideal. If you can suggest a nice way to display this in TensorBoard or in Text without depending on any third-party dependencies, I am open to suggestions. A `model.summary` Keras API may be an option.

Marking as 'help-wanted' for anyone who wa

[2018-11-26 21:43] cweill commented on #30
@svjack: We may open source some of our complexity measures including Standard Deviation. Currently the one we have in adanet_objective.ipynb is `sqrt(d)` where `d` is the number of hidden layers. For the customizing_adanet.ipynb, we use a constant complexity since there is only one candidate at each iteration and they all have the same hyperparameters and therefore complexity.

[2018-11-26 22:35] bhack commented on #31
https://github.com/tensorflow/estimator/issues/4

[2018-11-27 03:06] cweill commented on #31
My understanding is `tf.Estimator` will continue to be the recommended way to train and serve models in TF 2.0.

[2018-11-27 06:45] svjack commented on #31
yes, for the compatibility conveyed by canned

[2018-11-28 10:10] svjack opened #35 "What scene of use example this project need , cv nlp or others ?"
Compare with other projects, such as Auto-Keras, they enrich their scene example such as text classifier
image classifier and so on,
Are there some prefer scenes, AdaNet need to enrich ?
Because,  AdaNet may add many columns in "vertical" which may make network widen,  compare with tableau dataset,  cv problem may use many deep structure such as many ResNet connections,
this may induce model const

[2018-11-28 12:06] MingQi-Yuan commented on #32
here are the sample data，which has 8 classes，shape of 150x150，in 3 channels.I‘d appreciate much if you can do me a favor！

[2018-11-28 17:19] cweill opened #36 "Generate API Documentation"
Auto-generate API Documentation as a GitHub webhook using Sphinx and ReadTheDocs.

[2018-11-29 03:30] svjack commented on #1
Without Keras support of project, it may have some trouble to visualize AdaNet produced construction,
like use graphviz in plot_model
Are there some replacement to implement this function ?

[2018-11-29 04:48] cweill commented on #1
@svjack: You can visualize the learned architecture in TensorBoard by looking at the Graph tab.

[2018-11-29 05:58] svjack commented on #1
@cweill I suggest, Can create a chapter to tell about the algorithm procedure among different iteration (with namespace control) with the help of tensorboard to visualize in the document you will release.

[2018-11-30 05:58] picarus opened #37 "WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead."
Hello,
I am using tf 1.11 and tft 0.11 with Adanet 0.4 (but also happened with 0.3). I am getting the warning:

WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.

A bit of search has taken me to:
https://stackoverflow.com/questions/50850258/tensorflow-estimator-switching-to-careful-interpolation-to-get-the-correct-pr-a/5128

[2018-11-30 10:08] svjack commented on #37
add_metrics init a estimator use base class Estimator in tensorflow rather than adanet.

[2018-11-30 12:43] picarus commented on #37
Yep, I found that just after I submitted the issue.
But my key point here is why the issue happens when I change the dataset if it does not happen with the original  data in the same environment.

[2018-11-30 16:49] cweill commented on #37
Are you using `tf.contrib.estimator.binary_classification_head`? I think it's an issue with one of the metrics in there, so it's not unique to adanet.

[2018-11-30 23:05] #37 closed

[2018-11-30 23:07] picarus commented on #37
Thanks! Totally right!

[2018-12-03 21:02] #36 closed

[2018-12-04 01:59] xxllp commented on #32
这个库是不是实验品？

[2018-12-04 04:39] cweill commented on #36
See https://adanet.readthedocs.io for generated API documentation.

[2018-12-04 23:14] #9 closed

[2018-12-04 23:18] ShettyHarapanahalli opened #41 "MS coco data set for adanet"
Hi,
 one did any tried to train an MS coco or other real datasets with this network.
Just interested to see if this can actually solve such a problem.

[2018-12-05 22:46] cweill opened #42 "[Announcement] NeurIPS 2018 meetup"
If you're attending NeurIPS '18 in Montreal this week and want to meet up, I'll be here until Saturday after the workshops. I'm also hosting an informal AutoML meetup at the NeurIPS Google AI booth at 1pm Thursday, December 5th 2018.

I'm happy to learn about your ideas, use-cases, and feedback.

[2018-12-06 12:41] sdwldchl opened #43 "error when running tutorial examples with adanet"
I tried to run tutorial examples with adanet, it ended with following error:

File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/training/coordinator.py", line 389, in join
    six.reraise(*self._exc_info_to_raise)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/training/coordinator.py", line 297, in stop_on_exception
    yield
  File "/usr/local/lib/python2.7/dist-pac

[2018-12-06 14:51] cweill commented on #43
Are you using the new TPUEstimator? Do you have a copy of the tutorial you can share that has this problem?

[2018-12-06 15:28] shawpan opened #44 "[Question] Custom loss function"
how to use a custom loss function for regression? An example would be best.
For example, loss function is

``` \sum_{i=1}^{n} -log(\Phi(y_i - f(x_i))) ```

[2018-12-07 00:56] cweill commented on #44
For your use case, I would recommend passing a custom `loss_fn` to [`tf.contrib.estimator.regression_head`](https://www.tensorflow.org/api_docs/python/tf/contrib/estimator/regression_head).

For example:

[code]

[2018-12-07 10:08] shawpan commented on #44
Thanks, Charles, I missed this parameter and `tf.contrib.learn.regression_head` is deprecated as I see. One more thing, can I assume to get a feature value from `features` variable like `features['featureName']` ? or does it have a different data structure?

[2018-12-07 11:05] sdwldchl commented on #43
In simple_dnn.py, I added two lines to output the _iteration_step_:
def build_subnetwork_train_op(self, subnetwork, loss, var_list, labels,
                                iteration_step, summary, previous_ensemble):
    """See `adanet.subnetwork.Builder`."""
    **with tf.name_scope(""):
      summary.scalar("iteration_step", iteration_step)**
    # NOTE: The `adanet.Estimator` increments the glo

[2018-12-07 11:17] sdwldchl commented on #43
1. In simple_dnn.py, I added two lines of code to output the _iteration_step_:
def build_subnetwork_train_op(self, subnetwork, loss, var_list, labels,
iteration_step, summary, previous_ensemble):
"""See adanet.subnetwork.Builder."""
**with tf.name_scope(""):
summary.scalar("iteration_step", iteration_step)**
# NOTE: The adanet.Estimator increments the global step.
update_ops = tf.get_collection(tf

[2018-12-07 11:23] sdwldchl commented on #43
In simple_dnn.py, I added two lines of code to output the iteration_step:
[code]

In the Customizing AdaNet example, I modified the input_fn function:
[code]

Also, argument train_distribution was explicitly specified in configuration for estimator:
[code]

No other changes were made. Thanks in advance.

[2018-12-07 13:59] shawpan commented on #44
Ok, found it myself. Thanks for the help.
`features['featureName']` can be accessed but needed to reshape using `tf.reshape(features['featureName'], [-1, logits_dimension])`. Everything is a tensor so `1.0 + features['featureName']`  is also valid or use math functions `tf.math.add(1.0, features['featureName'])`

[2018-12-07 13:59] #44 closed

[2018-12-08 01:43] sdwldchl commented on #43
In simple_dnn.py, I added two lines of codes to output the iteration_step:
[code]

In the Customizing AdaNet example, I modified the input_fn function:
[code]

Also, argument train_distribution was explicitly specified in configuration for estimator:
[code]

No other changes were made. Thanks in advance.

[2018-12-08 16:15] cweill commented on #43
I see you are using `tf.contrib.distribute.MirroredStrategy(devices=devices)`. I wonder if that could be the issue. I'll have a look.

[2018-12-10 03:18] #42 closed

[2018-12-10 03:36] Npccc opened #45 "ValueError: Tensor adanet/iteration_0/ensemble_t0_3_self_built_cnn/weighted_subnetwork_0/subnetwork/batch_normalization_2/moving_mean is not found in /data4/data/adanet/modelZoo/2018_12_10_11_23/model.ckpt-7500 checkpoint"
Hello,
I am using tf 1.12.0,Python 2.7.15，I run my own built subnetwork under the fashion mnist dataset，but  I am getting the warning:

Traceback (most recent call last):
  File "class_builtCNN.py", line 39, in <module>
    steps=None))
  File "/home/guost/anaconda2/lib/python2.7/site-packages/tensorflow/python/estimator/training.py", line 471, in train_and_evaluate
    return executor.run()
  Fil

[2018-12-10 21:21] cweill commented on #45
Interesting. Are you using `tf.keras.layers` or `tf.layers`? I think I ran into this issue with `tf.keras.layers` because they handle variable scoping differently.

[2018-12-11 22:55] #43 closed

[2018-12-15 23:18] cweill opened #47 "Create TODO.md"
Outline AdaNet roadmap.

[2018-12-18 09:31] ngussek opened #48 "Problem with adanet_objective.ipynb"
Hi,

I wanted to run the adanet_objective.ipynb Notebook with Tensorflow 1.12.
This part throws an error:
`def ensemble_architecture(result):

architecture = result["architecture/adanet/ensembles"]

-->  summary_proto = tf.summary.Summary.FromString(architecture) <-- Error here.

return summary_proto.value[0].tensor.string_val[0]`
There doesnt seem to be a "FromString" method. I found it in very o

[2018-12-19 03:03] cweill commented on #45
Thank you, for confirming @Npccc. We'll look into this.

[2018-12-19 03:08] cweill commented on #48
`tf.Summary` is a protobuf ([see tf.Summary proto file](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/core/framework/summary.proto)), and all protos have a generated Python object with a `.FromString(...)` method. You may need to update your `protobuf` dependency with pip.

[2018-12-19 10:17] shawpan opened #49 "[Question] How to add custom evaluation metrics?"
How to add custom metrics in Adanet?  tensorflow api gives the following error

[code]

Error:

[2018-12-19 14:40] ngussek commented on #48
Hey,
thanks for your reply! I checked my protobuf version and everything else I could find somehow... Problem was/is somewhere inside Visual Studio Code or in my config. Pylint shows me the following message: "Class 'Summary' has no 'FromString' member". I never even tried running it because of that error. Now I decided to just launch the script despite the error and yeah ...it  just worked withou

[2018-12-19 14:40] #48 closed

[2018-12-19 20:03] cweill commented on #49
Please upgrade your adanet to  version >= 0.5.0. You can then pass you `custom_metrics` to the `adanet.Estimator` constructor's `metrics_fn` argument: https://adanet.readthedocs.io/en/v0.5.0/adanet.html#estimator

[2018-12-20 15:48] cweill commented on #49
Generally you want the `value` element of the tuple to be a variable, and for the `update_op` to mutate it somehow. For example look at [`tf.metrics.accuracy`](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/python/ops/metrics_impl.py#L418).

[2018-12-20 15:51] shawpan commented on #49
Yes, Thanks for more specific and elaborate example `tf.metric.accuracy`.

[2018-12-21 02:44] cweill commented on #28
Try upgrading to `adanet=0.5.0` and training from scratch with a new `model_dir`. Let me know if that works.

[2018-12-21 02:55] picarus opened #52 "Waiting for chief to finish"
Hello,
I am running Adanet 0.5.0 in GCP with Runtime version 1.10.
I am using a CPU configuration with multiple nodes.
The training phase is very fast but it gets totally slowed down by the evaluations. The evaluation don't seem to take advantage of the multiple nodes.
I think support for evaluation phase to use the multiple nodes should be added and that be a priority change as not only the nodes

[2018-12-21 15:59] cweill commented on #52
@picarus: This is a known issue when using the `adanet.Evaluator` in distributed training.

One way you can make the evaluation much faster is to pass the [`steps`](https://adanet.readthedocs.io/en/latest/adanet.html#adanet.Evaluator) argument to its constructor (e.g. `steps=100`). This will end evaluation after `n` batches instead of evaluating over the full dataset. Alternatively if you do not p

[2018-12-27 05:28] Mingqi-Yuan opened #53 "Failed to get device properties, error code: 30"
When I use the **GTX 1050 Ti** to train the adanet，the error appers like this：

**2018-12-27 13:21:33.808781: E tensorflow/core/grappler/clusters/utils.cc:83] Failed to get device properties, error code: 30**

### Here are my code：
import adanet
import tensorflow as tf
import data_input
import os

os.environ["CUDA_VISIBLE_DEVICES"] = "0"

feature_columns = [tf.feature_column.numeric_column('featur

[2018-12-29 10:44] tianxh1212 opened #54 "[Question]distrubute training"
Hi,
I have used two GPUs for distributed training, using a custom subnet. and it works well when using single GPU to run. but there is an error when using Multiple GPUs by `distribution = tf.contrib.distribute.MirroredStrategy()`

`2018-12-29 03:48:10.474563: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1115] Created TensorFlow device (/device:GPU:0 with 14874 MB memory) -> physical GPU (dev

[2018-12-31 19:36] cweill commented on #54
@tianxh1212 : Thank you for noting this. I wasn't aware that the only way to do multi-GPU training with Estimator was with `tf.contrib.distribute`: https://github.com/tensorflow/models/issues/4774

MirroredStrategy [should not be creating multiple threads to create the graph](https://github.com/tensorflow/tensorflow/blob/r1.12/tensorflow/contrib/distribute/python/mirrored_strategy.py#L97). Lots of

[2018-12-31 19:38] cweill commented on #53
Do you get this error if you replace `adanet.AutoEnsembleEstimator` with just`tf.contrib.estimator.DNNEstimator`?

[2019-01-05 08:11] tianxh1212 commented on #54
thanks very much， successfully ran distribute training by using TF_CONFIG.
https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate

[2019-01-05 08:11] #54 closed

[2019-01-05 08:41] tianxh1212 opened #56 "[Question] about nasnet-a used as subnetwork in adanet"
@cweill
hi,Weill,
I saw an article on the Google ai blog：https://ai.googleblog.com/2018/10/introducing-adanet-fast-and-flexible.html
The article mentions using nasnet-a as subnetwork after 8 adanet iteration and get the error-rate of 2.3% on cifar-10
and with fewer parameters at the same time. I would like to ask two questions.
1.do you use the entire nasnet-a architecture network（for exapmle, N=6

[2019-01-07 01:51] picarus opened #57 "Include as sample the paper examples"
It would be interesting to include as samples all the use cases described in the paper.
That would help to make the paper results easy to reproduce.
Also would contribute some diverse and more complex examples.
The Criteo example where hyperparameter tuning has been run would be a good one to start with particularly because of the embedding step.

[2019-01-07 01:56] picarus commented on #52
@cweill , I lack the deep knowledge you sure have about Adanet or even TF but unless you suggest the problem to implement this is on TF I don't see additional complexity other than the fact that you are evaluating multiple networks. Is it a TF issue?

[2019-01-07 02:35] cweill commented on #52
@picarus: The challenge is that nothing is very straightforward in TF. :)

The challenges I see are:
* Making sure this works for any number of workers and candidate subnetworks.
* How to synchronize the workers so they don't look at the same data. Otherwise you may have incorrect metrics when evaluating. This is easy to do on one worker, but it's not obvious to me how to do it on multiple servers

[2019-01-07 02:43] cweill commented on #56
@tianxh1212 : With the following code and settings you should be able to get the same results: https://github.com/tensorflow/adanet/blob/master/adanet/examples/nasnet.py#L181

* We used the N=6, F=32 in the config. A single subnetwork with those settings should have 3.3M parameters. Also I think we disabled `use_aux_head`.
* We used the Estimator `force_grow=True` setting.
* We used the `SCALAR` m

[2019-01-07 03:18] cweill commented on #54
Thank you for confirming that it works with TF_CONFIG.

[2019-01-14 18:05] bhack commented on #5
What about Google Autodeeplab for segmentation?
Will it land here?
See https://arxiv.org/abs/1901.02985

[2019-01-18 14:54] mmuratarat opened #58 "Using LSTM with AdaNet"
I can easily understand why DNN and CNN apply well to AdaNet since all subnetworks have the same architecture and hyperparameters. However, I am curious if it is possible to apply LSTM to AdaNet. I cannot fully comprehend how to incorporate `tf.nn.dtynamic_rnn()`, because when we have multiple LSTM cells it will be as the following:

outputs, states = tf.nn.dynamic_rnn([cell1, cell2,..., cell_n],

[2019-01-19 00:17] cweill commented on #1
We're working on a new Keras API for AdaNet, but don't have a timeline on it yet. Keep an eye out for related commits over the next few months.

[2019-01-20 17:36] saikia1 commented on #54
@tianxh1212 I have the same issue. Can you please share the TF_CONFIG` you have used to run the training?

[2019-01-21 00:31] tianxh1212 commented on #54
os.environ["TF_CONFIG"] = json.dumps({
            "cluster": {
                "chief": ["localhost:3224"],
                "ps": ["localhost:3222", "localhost:3223"],
                "worker": ["localhost:3225","localhost:3226","localhost:3227",
                           "localhost:3228", "localhost:3229", "localhost:3230"]
            },
            "task": {"type": "ps", "index": 0}
        }

[2019-01-22 08:09] saikia1 commented on #54
@tianxh1212 thank you.

[2019-01-22 11:30] shawpan opened #59 "[Question] How to remove WARNING: `persisted_tensors` is deprecated, please use `shared` instead"
`WARNING:tensorflow:From //anaconda/envs/ws/lib/python3.6/site-packages/adanet/examples/simple_dnn.py:104: calling Subnetwork.__new__ (from adanet.core.subnetwork.generator) with persisted_tensors is deprecated and will be removed in a future version.
Instructions for updating:
`persisted_tensors` is deprecated, please use `shared` instead.
`

[2019-01-22 16:06] cweill commented on #59
When creating an `adanet.subnetwork.Subnetwork`, instead of setting its `persisted_tensors` field, set `shared` instead.

[2019-01-23 16:24] cicciobyte commented on #24
@cweil Thanks for the insight on building network! However I've tested the build_subnetwork code you posted above (plugging it into the SimpleDNNBuilder) and it does not work. I'm not getting how to exactly sample the network structural space as described in the paper. Any indication or additional piece of code would be most welcome!

[2019-01-23 17:27] cweill commented on #59
@shawpan: Things have been moving pretty quickly, and we haven't had time to update `simple_dnn.Generator`. Feel free to send a PR with the fix, and I'll review it.

[2019-01-23 17:35] cicciobyte commented on #29
I'm saving the model via export_saved_model and then use tensorflow.contrib.slim to print it
[code]
otherwise you can get the variables and print them yourself
[code]

[2019-01-23 17:37] cicciobyte commented on #29
This is an example for the slim printout
[code]

[2019-01-23 18:00] shawpan commented on #59
Thanks, @cweill. I will send a PR. Is there any guideline to PR for this repository?

[2019-01-23 20:45] tomalbrecht commented on #22
I found some hints at: https://adanet.readthedocs.io/en/v0.5.0/adanet.html. Look at: export_saved_model(export_dir_base, serving_input_receiver_fn, assets_extra=None, as_text=False, checkpoint_path=None)

It seems similar to: https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#export_saved_model

What I did:

First I changed def train_and_evaluate, that it will return the estimator:

[2019-01-23 21:06] zjost opened #61 "Training takes > 1 day on Boston Housing example using 8 GPU machine"
Using tf 1.9.0 and running example notebook.  I think the problem is in the [eval spec definition](https://github.com/tensorflow/adanet/blob/master/adanet/examples/tutorials/adanet_objective.ipynb) which has this code section:
[code]
This seems to cause evaluation every 1 second, and lead to a ginormous tf.events file (>20 GB).

[2019-01-23 23:14] cweill commented on #29
@cicciobyte: FYI `tf.trainable_variables` may not return the full picture, because internally AdaNet modifies that collection.

[2019-01-23 23:16] cweill commented on #61
Evaluation should only occur whenever a checkpoint gets written. However, if one of those causes a checkpoint to be written every second, then you will have the reported issue. Do you have any suggestions for resolving this? Perhaps adding a comment to the notebook? A PR is welcome.

[2019-01-24 07:58] Sigm0oid opened #62 "module 'tensorflow.estimator' has no attribute 'LinearEstimator'"
Running the exact same example in the Documentation lead to this error:

Any one here have any Idea how to solve this ?
Update : Tensoflow version =1.12.0

[2019-01-24 08:01] Sigm0oid commented on #62
Solved by replacing  with : **tf.estimator.** with  **tf.contrib.estimator.**

[2019-01-24 15:31] zjost commented on #61
When I changed `throttle_secs` to something like 30, that fixed the issue and allowed training to happen fairly quickly.  However, it seems from your notebook that the same problem didn't exist.  I wonder if something has changed with the TF versions that alters the behavior.

I'll also note that my training data curves had much less data too, not just the eval curves.  It's unclear to me how to s

[2019-01-24 15:38] cicciobyte commented on #29
WOW thanks @cweil that a good hint :-)
I've limited tensorflow knowledge, but is this true even if I've exported the adanet estimator via SavedModel, closed any python/tensorflow session, loaded the protobuf model? I just want to get the architecture of the final model.

[2019-01-25 16:09] cicciobyte commented on #24
An alternative approach can be the following builder
[code]
and move the logic for exploring in the generator

[code]
@cweil what do you think?

[2019-01-25 19:21] cweill commented on #29
The Source of Truth for the model architecture is the TensorFlow Graph in your exported `SavedModel`. You can visualize something similar in TensorBoard's "Graph" tab. I'm actively thinking about an easier way of seeing the graph offline without needing to use TensorBoard, but it may be a ways away until we have that support. Perhaps using Keras Models under the hood would help...

[2019-01-27 18:19] saikia1 opened #63 "Retrieving the best performed model from the ensemble?"
How to separate the best performed model from the ensemble and save separately. Using tensorboard we can visualise the metric and find out the name of the based performed subnetwork. How can we save the graph of that subnetwork and it's corresponding weights.

[2019-01-28 07:56] cweill commented on #61
I agree, there are many knobs you can tune. `RunConfig.save_summary_steps` controls the frequency of saving summaries (training information). The above fields in conjunction with `save_checkpoints_steps` control evaluation frequency, because an evaluation only occurs when a new checkpoint is created. And last but not least, `RunConfig.log_step_count_steps` controls the frequency of writing the `gl

[2019-01-28 07:57] cweill commented on #62
Indeed, they currently live under `tf.contrib.estimator`.

[2019-01-28 07:57] #62 closed

[2019-01-29 15:09] zjost commented on #61
Cool, let me dig into it a bit and see if there's a sensible approach that works across versions (within reason).

[2019-02-06 12:27] shawpan commented on #59
fixed

[2019-02-06 12:27] #59 closed

[2019-02-08 07:59] abtExp commented on #53
Facing the same issue while training ENet on Flikr47 dataset on a nvidia gtx 1050ti.
TensorFlow version 1.12.0

[2019-02-08 12:44] shachi01 opened #67 "Adanet in Keras gives ValueError: Tensor tensor_object is not found in checkpoint after warm-starting variable"
- Implemented adanet in Keras in building dense layers and setting up kernel_initializer.
- Successfully trained, evaluated and the best_candidate moved onto next iteration in Iteration-1, but before moving towards next iteration "warm-starting variable" section is giving an error as below.

**Error**
ValueError: Tensor adanet/iteration_0/ensemble_t0_2_layer_dnn/weighted_subnetwork_0/subnetwork/de

[2019-02-11 22:55] cweill commented on #67
@shachi01: I've also noticed this behavior with `tf.keras.layers`, due to how Keras layers interact with variable scoping. The best fix for now would be to use `tf.layers` equivalents instead, since they behave correctly.

We'll try to add the correct support for Keras layers in a future AdaNet release.

[2019-02-11 22:57] cweill commented on #53
@abtExp: Please see my previous comment.

[2019-02-12 02:07] abtExp commented on #53
@cweill I'm not using adanet, I'm simply using keras .
I implemented ENet in keras and while training it, it throws this error.

[2019-02-12 06:55] shachi01 commented on #67
Thanks fir your response @cweill .

[2019-02-12 06:55] #67 closed

[2019-02-13 16:33] futurely commented on #43
All methods of Summary should add an argument `, collections=None`.

https://github.com/tensorflow/adanet/blob/master/adanet/core/summary.py#L38

[2019-02-16 03:48] cweill commented on #53
This sounds like a TensorFlow issue. Please reach out to them.

[2019-02-16 03:48] #53 closed

[2019-02-26 21:26] kylechang523 opened #69 "Change dataset and caused NaN loss"
Hi, while following the tutorial example in SimpleDnn, I changed the dataset which is after one-hot process, have 43 features, 11 labels. However I faced the problem shows 'Nan loss during training'.
I check the labels from 1-11 which doesn't including any zero. Does anyone have the same problem?
Besides, when adanet goes to second layer, the report becomes:
INFO: tensorflow: Report materializatio

[2019-02-27 03:26] cweill commented on #69
Try removing the `ReportMaterializer` from the Estimator constructor you are using. However I the NaN could be caused from several things. The most common is dividing by zero or applying log to zero.

[2019-02-27 15:35] kylechang523 commented on #69
I didn't change any codes from the Dnn Example, thus I think the estimator construction is totally same. I already tried adding 0.01 on each features and changed labels from 0-10 to 1-11, thus there shouldn't be any zero for the input.

 `estimator = adanet.Estimator(
      # Since we are predicting housing prices, we'll use a regression
      # head that optimizes for MSE.
      head=tf.contrib.e

[2019-03-11 12:25] shawpan opened #76 "[Question] Assertion error using MirroredStrategy"
What is the actual reason for this error?

[code]

The code for estimator  is given below

[code]

The code runs without the distribution strategy configuration.

[2019-03-12 12:17] AnnMariaW opened #77 "New participant!!"
Hello,

I am Anna Maria and I come from Germany. I have found your Machine Learning (ML)-Open-Source-Project. I would like to participate in this project. Because I am very interessing in ML/AI!!

To my person, now. I study coumputer science. I have make the course "Introduction in AI", and now I hear the course "Machine Learning". This is the first open source project for me.

Many Greetings
Anna

[2019-03-14 02:48] SmallyolkLiu commented on #56
@cweill
hi,Weill,
I got some errors, like this: ValueError: `generator` yielded an element of shape (150, 150) where an element of shape
Note that the input data that I used is CIFAR-10 dataset, which was preprocessed and defined using input_fn like that in adanet/adanet/examples/tutorials/customizing_adanet.ipynb. For example:
dataset = tf.data.Dataset.from_generator(generator(x_train, y_train),

[2019-03-14 07:50] SmallyolkLiu opened #78 "A minor mistake in adanet/examples/tutorials/customizing_adanet.ipynb"
Last chapter,

- plt.imshow(x_train[i])

should be

- plt.imshow(x_test[i])

[2019-03-14 14:27] shawpan commented on #76
adanet uses
[code]
in summary, it is not compatible with MirroredStrategy

upgraded tensorflow to 1.13.1 but now getting
[code]
is adanet compatible with distribution strategies? if not, can it be made compatible without major change?
@cweill it would be a great help if you give some insight

[2019-03-15 01:49] cweill commented on #76
@shawpan: We haven't tested AdaNet with distribution strategies, since they are still in `tf.contrib`, so we don't officially support them yet. What is it you are trying to do with `MirroredStrategy`?

[2019-03-15 02:48] cweill commented on #56
@SmallyolkLiu: Have a look at [our research code that uses NASNet in AdaNet](https://github.com/tensorflow/adanet/tree/master/research/improve_nas). It shows you how you can get it working on Google Cloud MLE.

[2019-03-15 02:49] cweill commented on #78
Thanks! Do you mind sending a PR?

[2019-03-15 09:33] shawpan commented on #76
I am trying to test a multi-label classifier implemented with adanet to run on multi-gpu. Distribution strategies looked like the easiest implementation so I am trying with `MirroredStrategy`. The target is to make it work with a variable number of machines and gpu so that the training finishes within the expected duration. How can it be done using adanet?

[2019-03-15 19:26] cweill commented on #77
Hi @AnnMariaW, and welcome to the AdaNet community. Any kind of contribution is welcome from fixing mistakes in documentation and tutorials, to feature requests and bug fixes.

[2019-03-16 11:31] AnnMariaW opened #81 "The beginning"
Hi,

I am new and this is my first opensource-project.

How/Where  can I find the bugs which are to be fixed.

Greets and thanks
Anna

[2019-03-16 18:16] cweill commented on #78
Fixed in #80.

[2019-03-16 18:16] #78 closed

[2019-03-16 18:18] cweill commented on #76
Since we don't yet support tf.distribution strategies, have a look at #54. They use a TF_CONFIG for distributed training, and that we support. Are you using adanet HEAD or Pypi's v0.5.0? master branch includes several distributed training fixes that will only be available once we release v0.6.0.

[2019-03-16 19:09] cweill commented on #81
@AnnMariaW: I'd recommend first trying out [our tutorial notebooks](https://github.com/tensorflow/adanet/tree/master/adanet/examples/tutorials) to get a feel for how AdaNet works. Once you have some suggestions for how we can improve, please let us know.

[2019-03-17 11:13] shawpan commented on #76
Thanks, Charles, I am using the 0.5 release. Will try with master and TF_CONFIG set up.

[2019-03-18 05:06] SmallyolkLiu opened #83 "How to import the saved/trained model to test on a testing dataset?"
Hi, @cweill
I have trained a model on my datasets with NASNet-A as the subnetwork, and have saved some checkpoints. If I want to import the saved model (model.ckpt**) again to test on a testing dataset, what should I do?

[2019-03-18 05:53] SmallyolkLiu opened #84 "Inconsistency in overriding method?"
https://github.com/tensorflow/adanet/blob/db6f5b65436d7a5ccbb49ec4967ed2314f2a86fa/adanet/examples/nasnet.py#L82

Using pycharm to open nasnet.py, showing that:
Signature of method '_NASNet.build_subnetwork' does not match signature of base method in class Builder

dose this mean the inconsistency in overriding method?

[2019-03-18 10:40] shawpan commented on #76
with `TF_CONFIG`,  it waits forever on this line,
[code]
also, there are mismatches in tf documentation. cluster spec says the task type can be master, ps and worker where the examples are written as chief, ps and worker. I am posting the `TF_CONFIG` below. Tried several combinations. It might be a simple mistake from my side.
[code]
or
[code]
or
[code]

[2019-03-18 12:21] SmallyolkLiu commented on #76
Hi, @shawpan
I have the same question. I have a small workstation with two pieces of GTX 1080 GPUs, so I hope to train a model on AdaNet in parallel, but it seems not support. Do you find an effective solution to do this?

[2019-03-18 13:25] priyanka-chaudhary commented on #69
@kylechang523 : Hello, I am facing a similar problem. Did you find a solution for it?
Thanks!

[2019-03-18 13:30] shawpan commented on #76
Ok my bad, I misunderstood the `TF_CONFIG` settings. Looks fine for now on my side (local, CPU). Will try on GPU multi hosts later. @SmallyolkLiu yes, I will post a detailed example so that others like you and me can work with the solution. Let me write the example properly and I will get back.

[2019-03-19 05:08] cweill commented on #84
The superclass is an abstract class, and in Python abstractmethods like `build_subnetwork` do not require their arguments to match the parent's signature. AdaNet will call the method with kwargs if they are there, so the user can use whatever subset of the arguments they need.

[2019-03-19 15:43] cweill commented on #83
@SmallyolkLiu: Did you find the answer to your original question?

[2019-03-21 07:35] weizhenzhao opened #85 "Input shape in ensemble_t0_DNNEstimator1"
Hi dear

I met an error when combine the DNNEstimator
it looks like following things:

  File "C:\Users\weizhen.zhao\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\feature_column\feature_column.py", line 205, in _get_logits
    tensor, shape=(batch_size, num_elements))
  File "C:\Users\weizhen.zhao\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\pyth

[2019-03-21 12:06] SmallyolkLiu commented on #83
@cweill Not yet, I have more urgent issue instead.

[2019-03-21 17:31] cweill commented on #83
If you want to use the latest checkpoint, just recreate the same `adanet.Estimator` with the same `model_dir`. When you call `Estimator#predict` it will load the variables from the latest checkpoint.

If you want to load a previous checkpoint, there is a `checkpoint` file created automatically in your `model_dir`.

It should look something like:

[code]

Just update `model_checkpoint_path` to poin

[2019-03-21 17:33] cweill commented on #85
You need to explicitly define you feature shapes in [`tf.feature_column.numeric_column(k, shape=...)`](https://www.tensorflow.org/api_docs/python/tf/feature_column/numeric_column).

[2019-03-21 22:49] weizhenzhao commented on #85
@cweill
hi dear can you give a little detail instruction , what exactly shapes should I set ?

thanks
weizhen

[2019-03-21 23:23] cweill commented on #85
I'm guessing `shape=[2145,1]`.

[2019-03-21 23:33] weizhenzhao commented on #85
when I changing the shape to
`        feature_columns = [tf.feature_column.numeric_column(key=k,shape=[1 , 768]) for k in feature_names]
`
I think the first problem has gone .
But I met another problem , and it looks like

InternalError (see above for traceback): Blas GEMM launch failed : a.shape=(256, 768), b.shape=(768, 93), m=256, n=93, k=768
	 [[node adanet/iteration_0/ensemble_t0_LinearEstima

[2019-03-22 01:44] cweill commented on #85
I'd recommend first getting this to work with `estimator = tf.contrib.estimator.DNNEstimator()` before trying AdaNet. This appears to be more related to raw TensorFlow or feature columns.

[2019-03-22 01:44] #84 closed

[2019-03-22 01:45] cweill commented on #63
The AdaNet *is* the best performing model. You can export the model using  any of the `Estimator#export*` methods for serving, or simply call `Estimator#predict` to get its predictions.

[2019-03-22 07:58] AAbusnina opened #86 "How to use trained models on test data?"
The toturial show only how to train, can you please point out how to use the model to do prediction on test data? and how to export the model for larer use?

[2019-03-22 09:59] SmallyolkLiu commented on #83
@cweill Thanks.

[2019-03-22 10:01] SmallyolkLiu commented on #86
@AAbusnina Please refer to #83

[2019-03-22 13:51] AAbusnina commented on #83
The problem is that there is no returned estimator from the train and evaluate function, I tried to do what is suggested here https://github.com/tensorflow/adanet/issues/22#issuecomment-437567652, but my generator is empty. Can you please explain this the correct approach to makde prediction on test data in the tutorial, that will help alot?
Big thanks

[2019-03-22 16:14] AAbusnina commented on #83
May be it is simpler if you can tell how to load a saved model?

[2019-03-22 19:54] EugenHotaj commented on #76
Hi @SmallyolkLiu,

If the GPUs you are trying to run on are on your local workstation, you do not need to run in distributed mode. Tensorflow should automatically assign ops to the GPUs: https://www.tensorflow.org/guide/using_gpu

[2019-03-22 19:58] EugenHotaj commented on #69
@kylechang523 @priyanka-chaudhary

You can also get NaNs during training if your learning rate is too high. Try decreasing the learning rate to see if that makes a difference.

[2019-03-22 20:06] EugenHotaj commented on #8
AdaNet should now have full support fro training/evaluating on TPU.

[2019-03-22 20:06] #8 closed

[2019-03-22 20:27] kylechang523 commented on #69
I already tried that but still the same.

On Fri, Mar 22, 2019 at 15:58 Eugen Hotaj <notifications@github.com> wrote:

[2019-03-24 23:30] shawpan commented on #76
I have added a quick example/boilerplate code that shows how to use `TF_CONFIG`. It may help others. https://github.com/shawpan/adanet-examples/tree/master/distributed_training

Please note that here I have skipped `data.py` and `config.py` files that anybody can add according to their own need and does not relate to distributed training. I will add them with an example dataset later. @SmallyolkLi

[2019-03-24 23:32] shawpan commented on #76
Closing the issue because adanet does not support distribution strategies yet so this kind of error is likely.

[2019-03-24 23:32] #76 closed

[2019-03-25 08:25] weizhenzhao commented on #85
I think I've fixed that issue , it because of the per_gpu_memory_fraction config and I should config this parameter to not using all the gpu memory at first

[2019-03-25 08:25] #85 closed

[2019-03-25 20:12] cweill opened #87 "Support for tf.distribute.Strategy"
AdaNet doesn't currently support [`tf.distribute.Strategy`](https://www.tensorflow.org/api_docs/python/tf/distribute/Strategy). The current way to define distributed training is using a [`tf.estimator.RunConfig`](https://www.tensorflow.org/api_docs/python/tf/estimator/RunConfig) with the  `TF_CONFIG` environment variable properly set to identify different workers.

Refs #76

[2019-03-26 01:04] cweill commented on #86
You can try seeing this [StackOverflow post](https://stackoverflow.com/questions/42835809/how-to-export-estimator-model-with-export-savedmodel-function) for exporting a `SavedModel` for serving.

[2019-03-26 01:05] cweill commented on #69
If you don't mind building from HEAD on master, you can try the new `adanet.Estimator(debug=True)` parameter for finding NaNs in your datasets.

[2019-03-28 17:05] tl-yang commented on #56
Hi @cweill . Thanks for your great work. Did you apply any data augmentation? In your research code, I see that you apply basic augmentation (flip + crop)  to input images. Did you do the same to the performance reported in the blog? Thanks!

[2019-03-28 18:32] cweill commented on #56
@tl-yang: Please see the details in our recent paper: https://arxiv.org/abs/1903.06236

[2019-03-29 16:16] cweill opened #90 "[Announcement] Introducing AdaNet's Gitter room"
We now have a [Gitter chat room](https://gitter.im/tensorflow/adanet) for sharing your experience and asking questions about AdaNet with the core team and other users. Swing by when you get a chance.

Gitter: https://gitter.im/tensorflow/adanet

[2019-03-29 16:24] cweill opened #91 "[Announcement] AdaNet v0.6 launched"
We just recently released **AdaNet v0.6**! In the last three months since v0.5's release we've added the following:

 * Official TPU Support (including TensorBoard visualizations).
 * Flexible ensemble definitions and strategies.
 * Stabilized the AutoEnsembleEstimator.
 * Improved distributed training.
 * Cleaner TensorBoard support.
 * Better documentation.

See [RELEASE.md](https://github.com/t

[2019-04-03 01:24] tuttlebr opened #92 "tf.data to input_fn()"
Hello,

Can someone please share how to pass a tf.data API to the input_fn if the adanet estimator? I am using the customizing_adanet.ipynb as a starting point.  I have the function below which accepts file paths as string and labels as integers. The load_and_preprocess_from_path_label function map function will take these strings of file paths and return {"images":image tensor}, labels.

[code]

[2019-04-08 16:22] ushmalramesh opened #93 "TensorFlow 1 & 2 Support"
Currently importing adanet with tensorflow 2.0.0alpha gives the error 'ModuleNotFoundError: No module named 'tensorflow.contrib''

Are there plans to extend compatibility to the new TF API?

[2019-04-08 19:41] cweill commented on #93
@ushmalramesh: We'll be adding TF 2.0 support slowly but surely over the next few months, but don't expect full TF 2.0 until end-of-summer '19 and once TF 2.0 is out of pre-release.

[2019-04-08 19:49] cweill commented on #6
This should no longer be an issue when installing from PyPi using `pip install adanet` for AdaNet v0.5.0+

If you are building from `master`, then you will need to first build with Bazel, then copy the generated report_pb2 file to `adanet/core`:

[code]

In general, if you are looking for the most up to date installation instructions, check out how we install using continuous integration ([.travis

[2019-04-08 19:49] #6 closed

[2019-04-08 19:53] cweill commented on #1
The timeline will look roughly like so (subject to change):

1. Support tf.keras.Layers in subnetworks.
2. Support keras.Sequential and Keras functional API models in `adanet.AutoEnsembleEstimator`.
2. Implement `adanet.keras.Model` and `adanet.keras.AutoEnsemble` APIs to be Keras end-to-end.

Please reach out here or PM me if you are interested in testing out our new Keras support as we add it.

[2019-04-11 02:00] wangzhishi opened #94 "how to extract the weights for each weak learner in adanet"
Hello,

is there a way to extract/retrieve the **weights** for each weak learner (i.e., sub-network) in adanet? For example,  how to obtain the values of w1, w2 and w3, if there are 3 weak learners in the ensemble?

Also, how to extract the trained weaker learner object **individually** (e.g., sub-network 1, 2, 3) instead of an ensemble whole?

Thanks and appreciated,

[2019-04-12 17:37] zjost commented on #61
I think root cause is explained in [this Issue](https://github.com/tensorflow/tensorflow/issues/17650).  Relevant quote related to changes to `train_and_evaluate` between TF versions 1.9 and 1.10:

When I run the example, the logs say:

Whereas the example notebook says:

It seems TF versions >= 1.10 use a different mechanism for deciding when to evaluate that's based on checkpoint writing rather

[2019-04-12 20:50] cweill commented on #61
@zjost: If you have a fix for v1.9/1.10, feel free to send a PR. The team will have a look. Is this still an issue with adanet v0.6.1?

[2019-04-14 13:37] cclauss opened #96 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-19 21:20] cweill commented on #96
Thanks for the heads up. We'll update.

[2019-04-24 15:12] cweill opened #100 "tf.keras.layers not supported"
We consistently see issues when users use `tf.keras.layers`, which are fixed when they switch to the `tf.layers` equivalent.

Related to #1.

[2019-05-03 16:15] cweill opened #101 "Q2 '19 Roadmap"
In an effort to provide transparency into the work we are doing for the broader open-source community, we will present our roadmaps every month. Please let us know if you have any suggestions as comments.

# Q2 '19

TensorFlow 2.0 Support (#93):

- [ ] Add support for TensorFlow 2.*.
- [x] Drop support for TensorFlow < 1.13 (cb9c718c35b5d16e05b51f15040b4b448798c5d2).

Keras Support (#1):

- [ ] Su

[2019-05-04 19:38] MajesticKhan opened #102 "Deserializing Architecture json file"
NOTE: I am running Adanet on windows 10 using python 3.5.2

Has anybody ran into this error: `TypeError: the JSON object must be str, not 'bytes'`?
I am currently debugging the code and this is what I have so far:

`gfile.read()` outputs  bytes instead of string. This causes an error when `_Architecture.deserialize()` uses json.loads() which requires a string object.

https://github.com/tensorflow

[2019-05-04 21:22] cweill commented on #102
@MajesticKhan: We only currently test on Linux machine with CI. If you find a fix, feel free to send a PR and I'll review it.

[2019-05-04 22:59] MajesticKhan commented on #102
Got it.
Let me dig a little deeper into the issue and start testing out other examples to check if the issue is on my side, if not I will create a PR with the fix. I'll keep you updated through gitter

[2019-05-07 11:22] WillianPaiva commented on #102
I'm trying to train on using cloud ML engine and I'm getting the same error, I'm not sure it is windows related

[2019-05-07 14:02] MajesticKhan commented on #102
Okay, the serializing issue is a simple fix, `gfile.read().decode()`. However, there is another issue when temp_model_dir folder is still being used by an initial model preventing files from being deleted. I hacked my way around this by creating mutiple temp_model_dir folders and not deleting them. After that, it was smooth sailing.

Currently, I'm creating a simple script to test both on windows

[2019-05-08 05:27] MajesticKhan commented on #102
Sorry accidentally clicked on closed.

@WillianPaiva What version of numpy are you using? When I reinstalled Adanet, it reverted back to the previous numpy to 1.15 which prevented me from running a simple script that trains a dnn model. Going back to numpy 1.16.3 allowed me to run the script again

[2019-05-08 15:52] cweill commented on #102
I think our dependency requirements were hard-coded to be too strict, so I'll create a commit to loosen those requirements. Did upgrading to numpy 1.16.3 fix any of the other issues you were experiencing?

[2019-05-09 04:34] MajesticKhan commented on #102
@cweill, I reinstalled Adanet and it defaulted to installing numpy 1.15.4 which still caused errors. I would consider strictly upgrading to match the numpy version that Tensorflow 1.13 is using which is numpy-1.16.3

[2019-05-09 05:38] MajesticKhan commented on #102
@cweill This is the script that I will be using to test both on Linux and Windows 10. I copied it from my repository for easier viewing:

[code]

[2019-05-09 08:00] LiberiFatali commented on #92
You should check your last layer of the network
`(i.e logits = tf.layers.dense(x, units=NUM_CLASSES, activation=None, kernel_initializer=kernel_initializer). `I also had this error when the output of the last softmax layer does not match the number of classes

[2019-05-11 01:00] cweill commented on #102
@MajesticKhan That script looks good to me. Keep us posted. And feel free to send a PR with a fix for reading the architecture JSON file.

[2019-05-11 03:53] MajesticKhan commented on #102
@cweill Working on that pr now...

Two things:

1.) On Linux, I confirmed that the json issue is affected on linux as well
2.) The numpy version should be 1.16.3, I get the error below when I installed Adanet on a VM from GCE

`ImportError: Something is wrong with the numpy installation. While importing we detected an older version of numpy in ['/home/usr/.local/lib/python3.5/site-packages/numpy']

[2019-05-11 04:32] MajesticKhan commented on #102
@cweill Submitted the PR...there is an additional issue which is related to the temp_dir_folder, however I will open up a separate issue on that and close this one once the changes are confirmed for deserializing the architecture file.

[2019-05-13 12:03] cxchen100 opened #105 "[Question] some basic question"
I have use adanet in my tensorflow code which have two candidate model_A and model_B.

by the tensorboard  auc curve , find model_A  is better then model_B

now I am not sure the exporter is the best model 's ouput or combine two model's effective ?

If I output this tf.estimator 's export to the production .  what may get ?

[2019-05-13 16:54] cweill commented on #105
@cxchen100 In your TensorBoard you'll see three kinds of curves: `.*subnetwork.*`, `.*ensemble.*`, and a couple like `<model_dir>/eval`. The `.*ensemble.*` models are the only candidates that will be considered for serving. AdaNet tracks the moving average of their training loss to determine which is the best candidate at any given step. The  `<model_dir>/eval` line in TensorBoard follows the curr

[2019-05-13 16:54] #91 closed

[2019-05-13 17:00] cweill commented on #94
@wangzhishi: You can get the **weights** w from TensorBoard, under the `mixture_weight_norms` section. As far as extracting the individual subnetworks, that is currently not easily doable possible, since we only expose ensembles. You could get all the trainable variables and filter the subnetwork vars according to their name in the scope, but that's a bit of extra work.

Is there anything you need

[2019-05-13 22:37] dataforcast commented on #58
Hello mmuratarat,
Hi,

I've worked on Adanet framework upon RNN type network (Simple RNN, LSTM and GRU).

In order to train mixture weights, Adanet may use logits or last layer from subnetwork candidates.
Then I force Adanet to use logits rather then last layer in creating Adanet Estimator with instructions :

[code]
Hope this will help

[2019-05-14 05:10] #102 closed

[2019-05-14 18:55] cweill commented on #58
@mmuratarat: We've successfully train all kinds of RNNs with different cells like `lstm`, `cudnn_lstm`, and `gru`. Like @dataforcast mentions, you will need to create a custom `adanet.subnetwork.Generator` and `adanet.subnetwork.Builder` subclasses that use `tf.nn.dynamic_rnn()`. You can look at [SimpleDNN](https://github.com/tensorflow/adanet/blob/master/adanet/examples/simple_dnn.py) for inspira

[2019-05-16 03:27] wangzhishi commented on #94
@cweill I want to look at how the sub-network evolves during the iteration process, in my customized defined weak learners. I found a way to retrieve trained subnetwork related parameters via a suite of their names.

With this said, I wonder if there is a way to use fixed weights for the weak learners. With `learn_mixture_weights = False`, I will only get equal weights, say `(1/3, 1/3, 1/3)`. Is t

[2019-05-16 04:15] cweill commented on #94
Not directly, however one option would be to create the `ComplexityRegularizedEnsembler(optimizer=...)` with a custom tf.train.Optimizer subclass. Then you could overwrite the [`Optimizer#minimize`](https://www.tensorflow.org/api_docs/python/tf/train/Optimizer#minimize) method to assign the var weights you want via `var_list`.

[2019-05-22 11:33] chandramoulirajagopalan commented on #87
I am new to this source code. I want to contribute to few open source AI, and ML projects to gain experience. Can I work on this issue ? Can you suggest me on what to be done ?

[2019-05-28 10:16] marsggbo opened #108 "How to run on multiple GPUs?"
Could you share some example codes that can run on multiple GPUs?

[2019-06-02 14:24] vbogach opened #109 "Remove GCS bucket requirement for TPUEstimator"
Currently Adanet in Google Colab requires an GCS bucket. It would be neat to be able to use locally stored data instead.

[2019-06-02 16:20] chandramoulirajagopalan opened #110 "Error building adanet using bazel from source with protobuf version 3.6.0"
https://github.com/bazelbuild/bazel/issues/6984#issuecomment-449315610
The link says the version is not compatible with bazel 0.21.0 . So the workspace version must be updated to 3.6.1.3

[2019-06-03 17:06] cweill commented on #109
@EugenHotaj: Is there a way we can use GCE TPU without a GCS bucket?

[2019-06-03 17:08] cweill commented on #110
@chandramoulirajagopalan: Do you mind sending a PR to do so? I'll be happy to review it.

We are looking to drop our requirements for protobuf and Bazel in the future to simplify installation.

[2019-06-03 17:47] EugenHotaj commented on #109
AFAIK it's not possible to use Cloud TPUs with data stored on your local machine. Since TPUs run on Cloud servers, they'd have no way to interact with your local data.

Closing this out as infeasible. Please feel free to reopen if there is a way to use your local data and we'll modify the Colab to do this instead!

[2019-06-03 17:47] #109 closed

[2019-06-03 17:51] chandramoulirajagopalan commented on #110
Yes I will submit a PR as quick as possible.

[2019-06-03 17:53] chandramoulirajagopalan commented on #87
@cweill  Can you just give me a vague idea on how to make adanet support tf.distribute.Strategy. I have good experience with tensorflow but the source code is quite big to search for, it would be helpful for me to make a quick start.

[2019-06-03 18:34] cweill commented on #87
@chandramoulirajagopalan:  The best way to get started will be to first [extend](url) [estimator_distributed_test_runner.py](https://github.com/tensorflow/adanet/blob/master/adanet/core/estimator_distributed_test_runner.py) to test your implementation. You can pass then pass the `tf.distribute.Strategy` you want to test to the `tf.estimator.RunConfig`, when constructing the AdaNet Estimator. If it

[2019-06-03 18:49] chandramoulirajagopalan commented on #87
@cweill Yes I will work on that file first to test my implementation on the estimator similar to issue#54. Where the tf.distribute.Strategy.MirroredStrategy was used in it.

[2019-06-03 22:33] cweill commented on #87
@chandramoulirajagopalan: Just a heads up: `tf.distribute.MirroredStrategy` I believe is designed for multi-GPU, so may be difficult to test. But if you get it to run inside `estimator_distributed_test_runner.py`, then good work.

[2019-06-04 18:29] cweill commented on #108
@marsggbo: For multiple GPUs on the same machine depends on https://github.com/tensorflow/adanet/issues/87 being fixed first. However, you can distribute training across multiple machines each with one GPU using TF_CONFIG: https://cloud.google.com/ml-engine/docs/tensorflow/distributed-training-details

[2019-06-04 19:53] cweill commented on #110
Fixed with #111.

[2019-06-04 19:53] #110 closed

[2019-06-05 03:02] guoqingyu319 opened #112 "how to do early stopping while training adanet"
When using adanet on my own data,I face a overfitting problem. I have to try to add early stopping strategy while training adanet.My problem is early stopping strategy stop the adanet iteration.So How can I do early stopping in each iteration so that I can solve the overfitting problem.
1.I set 8 iterations,each iteration has 200000 step
2.The whole training stop at 160000 step in first iteration,

[2019-06-05 14:59] LakeCarrot commented on #102
@MajesticKhan @cweill
Note: I was running the following tutorial on Ubuntu 16.04, with Tensorflow 1.13, Python 3.5 and numpy 1.16.4.
[https://github.com/tensorflow/adanet/blob/master/adanet/examples/tutorials/customizing_adanet.ipynb](url)

I met the same problem (see the attached file for detailed error log)
The specific code snippet I tried to run is as follows,
[code]
It seems to me that updati

[2019-06-05 15:16] augustodelscenario opened #113 "Failed to remove a directory"
need some help with adanet.

I'm very new with tensorflow and adanet and trying to create some simple case. I've created data in matlab and load it in python for adanet train and test. And I see some strange bahaviour: code is failing about 4-5 times before it get correct output. Outputs error: "FailedPreconditionError: Failed to remove a directory: D:\python\adanet\test_1\log\learn_mixture_weight

[2019-06-05 16:08] cweill commented on #113
@augustodelscenario: This is a known issue in v0.6 of AdaNet, but is fixed with #106 at master. We'll make the v0.7 release soon which will include it.

[2019-06-05 16:29] MajesticKhan commented on #102
@LakeCarrot ,

Running the latest version of numpy is not the issue. The error that you are seeing is related to `ensemble_arch = json.loads(serialized_architecture)`, please see the first post for further details.

Essentially, the serialized_architecture is in byte format when it should be in string format. However, this implies that you are running python 3.5 or lower as reading the documentati

[2019-06-05 18:25] LakeCarrot commented on #102
@MajesticKhan ,
Thanks a lot for your replay. Yeah. after updating python from 3.5 to 3.6, problem solved. The problem is because of json.loads() function.

[2019-06-06 00:29] cweill commented on #112
@guoqingyu319: We don't yet support early stopping per iteration, though it's something we would like to add. For now, the best thing is to set the `max_iteration_steps` to the right number to prevent overfitting (though sometime a little overfitting is good for the ensemble performance).

[2019-06-06 11:36] guoqingyu319 commented on #112
@cweill thanks a lot.In our scenario,we wanna use adanet to do automl.The biggest problem is some hyperparameters in adanet such as max_iteration_steps can not be automated completly.Different datasets have different max_iteration_steps we need.So the right number you said is also a parameter we should try.Thank you so much!

[2019-06-06 17:52] cweill commented on #112
@guoqingyu319 What we generally do is tune the train steps (i.e. number of epochs) to find the best AdaNet model.

[2019-06-06 18:04] jankrynauw opened #114 "Allow one to forward features to predictions"
We would like to forward a particular 'key' column which is part of the features to appear alongside the predictions - this is to be able to identify to which set of features a particular prediction belongs to. Here is an example of predictions output using the tensorflow.contrib.estimator.multi_class_head:
[code]
We would therefore like to add a key attribute to this prediction.

```estimator = t

[2019-06-06 22:57] cweill commented on #114
@jankrynauw Thank you for the feature request. This looks like it could be implemented in a way similar to `adanet.Estimator(metric_fn=...)` which we added in https://github.com/tensorflow/adanet/commit/53f5f5b54f91a49da766f72b373a5e23cfc2db16.

Unfortunately, we don't have much time to add this ourselves, but if anyone has cycles to a PR, they are very welcome.

[2019-06-07 18:26] chandramoulirajagopalan commented on #87
[code]

[2019-06-07 18:35] chandramoulirajagopalan commented on #87
[code]

[2019-06-07 19:23] chandramoulirajagopalan commented on #87
[code]

[2019-06-07 20:02] cweill commented on #87
Good work getting that inside the runner. I'm surprised that the error is coming from deep down in TensorFlow Estimator. If you create a PR, I can have a look there.

[2019-06-08 05:54] chandramoulirajagopalan commented on #87
@cweill I will make a PR to this.

[2019-06-10 01:59] #112 closed

[2019-06-19 03:03] InkdyeHuang commented on #24
for t iteration it concat with the previous network ,whether the weight is frozen or not

[2019-06-19 19:54] JaeDukSeo commented on #1
this is amazing!

[2019-06-19 21:11] cweill commented on #1
We are going for an API that is both familiar, but also flexible enough to define an search space of keras models. Here's an idea of the kind of API we are going for:

[code]

Feedback is welcome!

[2019-06-25 17:29] atinsood commented on #1
@cweill this looks great but is this already close to an alpha/beta(or merged into some branch already) where if I want to try this out I can go ahead and try it out, or you guys still working through this.  any rough notebook with a broad idea of steps would be great.

- thanks

[2019-06-26 13:01] shimon166 opened #116 "Generate auto-encoder architecture"
There is a proper way to develop an auto encoder architecture network with subnetwork?
I tried to figure out how to generate subnetwork modules that will build a symmetric vanilla auto encoder architecture but didn't understand how to do it with this package

[2019-06-27 16:58] cweill commented on #1
@atinsood: We don't currently have anything you can try out, since we're still coming up with a reasonable design. But keep an eye out, we'll be pushing some experimental code soon to an `adanet.keras` subpackage soon.

[2019-06-27 17:02] JaeDukSeo commented on #1
I would love to use it when it comes out

[2019-06-29 07:27] augustodelscenario opened #117 "Problem with placeholder"
Hello, i`m trying to create more complex NN.
Help please, what can be wrong?

Here is code:
`class _SimpleCNNBuilder(adanet.subnetwork.Builder):

  def __init__(self, optimizer, layer_size, num_layers, learn_mixture_weights,
               seed):

    self._optimizer = optimizer
    self._layer_size = layer_size
    self._num_layers = num_layers
    self._learn_mixture_weights = learn_mixture_weig

[2019-07-02 17:54] cweill commented on #113
This should be fixed in `adanet=0.7.0`. Please reopen if you encounter this issue again.

[2019-07-02 17:54] #113 closed

[2019-07-19 05:02] augustodelscenario opened #118 "bias not found in checkpoint"
Hello, I`m trying to make Adanet objective example with Keras Dense layers, but have problems.
Can you help please with this error?

[code]

Everything work fine, when i use such build def:
[code]

But if i want to move to Keras layers, i`ve got error. build will look like this:
[code]

What i made wrong?

[2019-07-23 14:23] chandramoulirajagopalan commented on #114
@jankrynauw Can you send me the full code so that I can test it and work on it.

[2019-07-23 15:23] jankrynauw commented on #114
See the `predict` section of the `_create_tpu_estimator_spec` method, as well as the                  `predict_feature_keys=None` parameter in the `__init__` section:
[code]

[2019-08-01 19:55] cweill commented on #118
Hi @augustodelscenario: this is a known issue, see #100. While we work on resolving it, please keep using `tf.layers`.

[2019-08-01 19:55] #118 closed

[2019-08-22 15:50] #61 closed

[2019-08-30 11:20] nicholasbreckwoldt opened #120 "Accessing the Adanet loss for each candidate subnetwork?"
Hi there,

I would like to be able to access and record the individual Adanet losses returned by the _adanet.Evaluator_ during evaluation of each subnetwork (i.e. candidate) within a given iteration.

Is this currently possible, and if so, how would one go about accessing these losses?

[2019-09-05 05:51] fangkuann opened #121 "Does adanet support GBDT as subnetwork?"

[2019-09-08 02:54] gargprince1702 commented on #108
@marsggbo: For some examples of multiple GPUs clink on the below link I think that helps you :)
https://jhui.github.io/2017/03/07/TensorFlow-GPU/

[2019-09-08 07:52] chandramoulirajagopalan commented on #100
Can I work on this issue @cweill ?

[2019-09-09 19:15] cweill commented on #121
@fangkuann: Yes it does! You can see how we use it [here](https://github.com/tensorflow/adanet/blob/master/adanet/core/estimator_distributed_test_runner.py#L316). Note this is the old `contrib` version of GBDT, and there is a new one called `tf.estimator.BoostedTreesEstimator` which should work, however we haven't tried it.

Please give it a shot and let us know how it works for you.

[2019-09-10 10:16] fangkuann commented on #121
@cweill  thanks for your answer!
In this paper https://ai.google/research/pubs/pub48133/, the authors combine the GBDT based model and DNN based model to enhance model performance.
Therefore I want to reproduce it in the product where I worked for.  Since I want to training two model using only one training tool (Training GBDT using LightGBM and training NN using TensorFlow makes system complex)

[2019-09-16 16:45] tx2010011751 commented on #58
Hello! I'm a green hand in adanet. Would you please tell me if I have to build the LSTM model myself rather than using the LSTM API provided in kereas or tensorflow when using adanet? If so, would you please give an  example about using LSTM with adanet(the sample you use for test RNN). Thank you very much.

[2019-09-16 17:53] cweill commented on #58
@tx2010011751 You should be able to use the [tf.contrib.estimator.RNNEstimator](https://www.tensorflow.org/api_docs/python/tf/contrib/estimator/RNNEstimator) with `adanet.AutoEnsembleEstimator` if you want to try ensembling RNN models.

As a first step, try getting `tf.contrib.estimator.RNNEstimator` to train on its own, and next try it in adanet.

[2019-09-16 21:52] lc0 opened #123 "Failing tutorial adanet_tpu.ipynb during evaluation"
Unfortunately an example adanet_tpu.ipynb has failed on me.

it fails with a bunch of stack traces, please find more details in attached document. One from the top is

[code]

https://colab.research.google.com/drive/1MM5EpwS0j4VQkDIcaQ7qNU71Nrfo3-cL#scrollTo=-Fhi1SjkzVBt

[2019-09-16 22:32] cweill commented on #123
@lc0 Thanks for reporting this. We'll have a look.

[2019-09-17 13:49] EugenHotaj commented on #123
Hi @lc0, the Aborted Error seems spurious. If you look at the log a few lines up see some other errors about evaluation steps "steps" not being set on TPU.

![image](https://user-images.githubusercontent.com/6221162/65047193-04945b80-d930-11e9-8dad-5e046b5359b6.png)

On TPU you must explicitly set the number of eval steps to run and unfortunately cannot rely on StopIteration exceptions to stop eva

[2019-09-17 13:59] lc0 commented on #123
@EugenHotaj yeah, I also was thinking about this part. It's part of tutorial, I wonder how did it work before without explicit steps.

In any case we should update the tutorial to get it back to working state.

[2019-09-17 14:01] EugenHotaj commented on #123
Oh I see what you're saying now. Yea the notebook was written before we supported evaluating on TPU and would always eval on CPU (in which case you don't need to specify the steps). I'll update the notebook. Good catch!

[2019-09-17 19:25] #123 closed

[2019-09-17 19:33] lc0 commented on #123
@cweill since the fix is in code itself, what is the cycle of release? it would be fixed in the next version right? shall we bump a version?

[2019-09-18 01:38] cweill commented on #123
@lc0 We'll prepare release `v0.8.0` shortly; probably next week. Stay tuned! :)

[2019-09-18 15:56] cweill opened #124 "Q3/Q4 '19 Roadmap"
In an effort to provide transparency into the work we are doing for the broader open-source community, we will present our roadmaps every quarter. Please let us know if you have any suggestions as comments.

# Q3/Q4 '19

TensorFlow 2.0 Support (#93):

- [ ] Complete support for TensorFlow 2+ with on-going support for TF 1.14 #93.

Keras Support (#1):

- [ ] Support `tf.keras.layers` #100.
- [ ] Su

[2019-09-18 15:58] cweill commented on #101
New roadmap is in #124.

[2019-09-18 15:58] #101 closed

[2019-09-23 14:30] EugenHotaj commented on #120
Hi @nicholasbreckwoldt,

As far as I know, there is no out of the box way to get the subnetwork losses from the AdaNet estimator. For example, when calling estimator.evaluate(), only the metrics for the final ensemble are returned.

However, if you're only interested in tracking the losses during training, we do write them out as summaries for each subnetwork, which can be viewed via Tensorboard.

[2019-09-23 14:33] EugenHotaj commented on #116
Hi @shimon166,

Yes it is possible. You would need to create a custom [adanet.Subnetwork](https://github.com/tensorflow/adanet/blob/master/adanet/subnetwork/generator.py#L62) which implements the architecture you need.

[2019-09-25 14:27] eustomaqua opened #127 "tf.Session(config=..) always takes all of the memory even through I set up the gpu_options"
Problem: gpu_options doesn't work.
I used the codes in AdaNet like
[code]

But it still occupied the whole gpu memory when I run the AdaNet. For example:
(1) If there is only 4G memory left, it will occupied the remaining 6G memory
(2) If there is no other process occupying the GPU memory (i.e., there is 10G memory left), it will occupied the whole 10G memory when I run the AdaNet.
So I think it d

[2019-10-02 20:36] #93 closed

[2019-10-02 20:41] cweill commented on #123
@lc0 `v0.8.0` was just released. Please upgrade with `pip install adanet -U`, and let us know if it fixes your issue.

[2019-10-02 20:44] cweill commented on #93
Fixed in `adanet==0.8.0` release.

[2019-10-03 20:03] lc0 commented on #93
@cweill does it mean, that now we can test adanet with tf2?

[2019-10-03 20:15] lc0 commented on #123
yeah, updated tutorial version with default `eval_on_tpu=True` works perfectly

[2019-10-03 20:34] EugenHotaj commented on #123
Glad to hear that! Please keep opening issues against us if you run into more issues.

[2019-10-08 12:18] zhiqwang opened #130 "Tutorials need to be updated to work with TensorFlow 2.0"
Hi, Thanks for your cool work.
But the tutorial of adanet (vesion 0.8.0) seems incompatible with tensorflow 2.0, would you please add more tutorials here?

[2019-10-09 05:42] jankrynauw opened #131 "Candidate evaluations on TPU"
The current `eval_on_tpu` parameter passed to the estimator only applies to the `estimator.evaluate()` method and has no effect on the `evaluator` used to evaluate candidates:
[code]
This currently has no relevance to the candidate evaluations as they are hard-coded to happen on CPU when Adanet decides which candidate to select to move on to the next iteration.

The TPUs therefore have to wait for

[2019-10-12 10:27] shendiaomo commented on #93
I don't think so because it seems that adanet.Estimator still depends on contrib.Head,

[2019-10-13 07:28] jeffltc opened #132 "create_estimator_spec() missing 1 required positional argument: 'self'"
I run this code and come across create_estimator_spec() missing 1 required positional argument: 'self'

[code]

[2019-10-14 19:27] cweill commented on #130
@zhiqwang: You're right, we need to update our tutorials to use TF 2.

[2019-10-14 21:18] cweill commented on #132
@jeffltc: Replace `head = tf.estimator.RegressionHead` with `head = tf.estimator.RegressionHead(1)`.

[2019-10-14 21:29] cweill commented on #132
Here's a working script, you can run:

[code]

[2019-10-14 21:30] #132 closed

[2019-10-14 23:14] cweill commented on #130
This should be relatively easy to port over, using `tf.compat.v1` for missing modules.

[2019-10-15 09:49] zhiqwang opened #134 "What's the difference between `adanet.Estimator` and `adanet.AutoEnsembleEstimator`"
Hi, adanet team,
I'm confused between the API of `adanet.Estimator` and `adanet.AutoEnsembleEstimator`. I noticed that `adanet.AutoEnsembleEstimator` was released in the version 0.4, but the tutorial provided here are all `adanet.Estimator`. Is there any suggestion to choose this two API?

[2019-10-16 21:42] cweill commented on #93
@lc0 Yes, you should now be able to test TF2. @shendiaomo: AdaNet currently supports the new estimator heads, such as `tf.estimator.RegressionHead()` and `tf.estimator.BinaryClassHead()`.

[2019-10-18 11:06] EmielSchmeink commented on #130
As per [this](https://www.tensorflow.org/guide/upgrade#compatibility_modules), you should try to use the new modules instead of using compat.v1 everywhere.

[2019-10-21 22:54] jeffltc commented on #134
In addition to that question, when I use AutoEnsembleEstimator to train model from candidate pool of four different dnn subnetwork, I always get the result network with only one subnetwork. Don't know if I have done something wrong with AutoEnsembleEstimator or it is just how it works.
From my understanding, the adanet.AutoEnsembleEstimator can ensemble the subnetwork auutomatically.

Here is my c

[2019-10-22 19:57] cweill commented on #134
@jeffltc If you want to do multiple boosting rounds, make sure that `max_steps` > `max_iteration_steps`. For example if `max_steps` == `max_iteration_steps`, you will only do one round (no boosting). if `max_steps` == `3 * max_iteration_steps`, then it will boost for three rounds.

You should also create your estimators within the `candidate_pool` `lambda`, use an `adanet.Evaluator` for evaluating

[2019-10-22 19:59] cweill commented on #127
Fixed by #133

[2019-10-22 19:59] #127 closed

[2019-10-22 21:33] jeffltc commented on #134
@cweill Thank you so much! Crystal clear! Could you please introduce the difference between `adanet.Estimator` and `adanet.AutoEnsembleEstimator`? Sorry for asking the additional question and misleading the original question.

[2019-10-23 19:19] cweill commented on #134
@jeffltc I'm glad I could help!

@zhiqwang: `AutoEnsembleEstimator` and `adanet.Estimator` are very similar.

`AutoEnsembleEstimator` is a thin wrapper around the latter which converts `tf.estimator.Estimator` instances into `adanet.subnetwork.Builders` for `adanet.Estimator` to train and combine into ensembles.

If you already have a `tf.estimator.Estimator` you want to ensemble, you should use `

[2019-10-27 05:17] jeffltc opened #135 "How do weak-learners combine?"
* If I use `adanet.AutoEnsembleEstimator` to ensemble weak-learners, do those weak-learners combine side by side on the same layer with weights or one after another on multiple layers?

* I’ve also read #24. Does that mean the side by side combination is a default and if I want to make one after another structure, I need to use custom generator and `Subnetwork.shared` to pass the tensor to next it

[2019-10-28 16:17] cweill commented on #135
AutoEnsembleEstimator use the `ensemblers` parameter to determine how to ensemble weak learners. By default it uses with `adanet.ensemble.ComplexityRegularizedEnsembler` which is pretty simple: it just combines the weighted logits of the subnetworks. However, you can subclass `adanet.ensemble.Ensembler` to do more advanced things if you'd prefer.

That's correct. Doing so allows you to create more

[2019-10-29 04:15] Agupta00 opened #136 "adanet_objective results"
Hi,

I was running the adanet_objective notebook and my result shows that the architecture is Architecture: b'| 1_layer_dnn |' instead of the expected output in the example notebook of " Architecture: b'| 1_layer_dnn |' '| 2_layer_dnn |' '| 3_layer_dnn |'.

I tried setting _measure_complexity to 0 to see what would happen and still got the output of Architecture: b'| 1_layer_dnn |', with the only

[2019-11-02 03:32] jeffltc opened #137 "Simple DNN generator error: 'Tensor' object is not callable"
TensorFlow version: 2.0.0
Python version: 3.6
Mac OS

I tried to run customized generator demo code on my local environment. But I came across " 'Tensor' object is not callable " problem.

I noticed this might be TF 2 problem. So I checked this [issue](https://github.com/tensorflow/tensorflow/issues/28068) and this [issue](https://github.com/tensorflow/tensorflow/issues/29944) and found out that t

[2019-11-05 23:23] cweill opened #138 "Add pytype type checking and annotations"
https://github.com/google/pytype is a static analysis tool for detecting many issues at "compile" time. Several other TensorFlow projects use pytype, and we have seen some benefits on our other projects. So we should begin adding these type checks to the `adanet` codebase.

[2019-11-23 10:21] jheffez opened #140 "[question] adanet with Reinforcement Learning?"
RL is very time and resource intensive, often taking hours and days to complete. Any reduction/optimization is a huge benefit.
Has anyone tried to apply adanet with RL?

[2019-12-01 14:21] shendiaomo commented on #1
When would this Keras API have a final distribution? I think it's vital for the widespread application of AdaNet.

[2019-12-02 18:32] cshjin commented on #137
You use the optimizer from Keras API.
The **minimize** function takes the **loss** as a callable function without arguments.
If your loss is a calculated tensor, then use the **tf.GradientTape()** instead.

Replace the `self._optimizer.minimize(...)` with
[code]
One of the ref I wrote in another question.  https://github.com/tensorflow/tensorflow/issues/29944#issuecomment-560224083

[2019-12-03 01:16] EstebanGuillen opened #141 "Multi-label classification"
Would it be possible to support multi-label classification?

[2019-12-03 21:10] cweill commented on #141
@EstebanGuillen: adanet already supports multi-label classification. See https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/contrib/estimator/multi_label_head?hl=sv-SESee

[2019-12-03 21:10] #141 closed

[2019-12-03 21:12] cweill commented on #140
@jheffez Our team has mostly looked into applying adanet to supervised learning tasks, and some semi-supervised learning work. If think there is a good way to use adanet for RL, I recommend sharing a notebook or writing a paper about it :).

[2019-12-03 21:16] cweill commented on #1
@shendiaomo: This is still a work in progress, but we are actively pursuing this direction. It's all very experimental at the moment, since we would like it to fit in well with the rest of the Keras and TF 2.0 ecosystem, meaning good integration with other systems like [keras-tuner](https://github.com/keras-team/keras-tuner).

We're working on an experimental AdaNet model search API. You can have

[2019-12-16 22:41] nshahgit2019 commented on #136
Hi,
I am having same problem. I am wondering if you were able to resolve the issue.

Thanks,

[2019-12-16 23:23] nshahgit2019 commented on #136
Hi,
I just changed adanet version to 0.5.0 and that solved the ensemble issue.

Thanks,

[2019-12-27 16:21] augustodelscenario commented on #136
Hi, i see the same behavior on 0.8.0 version

[2020-01-08 04:03] YanqingWu opened #142 "how to train on my own dataset, other than mnist ?"
I want to test adanet on my own image dataset, could you please give some tutoral?
I can run the mnist successful.
I have tried to modify the SimpleCNNBuilder, but get worse result, maybe I miss something.

[2020-01-13 03:01] shendiaomo opened #143 "`input_fn` called multiple times in `Estimator.train`"
https://github.com/tensorflow/adanet/blob/712bc8efbcce4684cc81108ad916a735cddb4de2/adanet/core/estimator.py#L896-L900
It seems to be problematic because `adanet.Estimator.train` would load data from scratch at every iteration.
As https://github.com/tensorflow/tensorflow/issues/19062#issuecomment-400129963 said, in canned TF estimators `train` is called once.

[2020-01-13 14:12] shendiaomo commented on #143
There seem to be two negative effects of this:
1. A repeated Dataset (`dataset.repeat(10)` for example)  cannot stop training via `OutOfRangeError` or `StopIteration`, we have to set `steps` or `max_steps`, which is inconsistent with canned Estimators.
2. If a user doesn't shuffle the dataset, AdaNet may repeatedly use the first `max_iteration_steps * batch_size` samples each time, thus fitting to

[2020-01-14 19:55] cweill commented on #143
@shendiaomo: You are correct on both counts. For this reason, we request that the user configures the `max_iteration_steps` to be the number of repetitions desired, which unfortunately requires the user to do some extra math.

Assuming each adanet iteration trains over several epochs, 2. should be less of an issue in practice if your base learners are randomly initialized. They will tend to learn

[2020-01-15 15:09] shendiaomo commented on #143
Great! Thanks for the explanation. However, that's sort of not handy to do the math, imagine someone wants to replace the DNNClassifier in her application into adanet.Estimator, there may be lots of work. Will you have a plan to improve this? Or will the Keras version avoid the same situation?

[2020-01-28 19:19] 4d55397500 opened #145 "relation to AutoML tables in GCP"
@cweill, apologize if this is a naive question, but how does/where can I find out how this codebase relate to what's exposed as 'AutoML tables' in Google Cloud Platform?

[2020-01-29 14:49] EugenHotaj commented on #145
Hi @4d55397500,

AdaNet is used as one of the models in AutoML Tables in GCP. So the final model returned by AutoML tables may be an AdaNet model if it was found to outperform the other models. You can find out more [here](https://cloud.google.com/automl-tables/docs/features#model_training).

[2020-01-31 04:20] 4d55397500 commented on #145
I see, thanks @EugenHotaj , it's one of the possible models

[2020-01-31 04:20] #145 closed

[2020-01-31 23:40] cweill commented on #1
@shendiaomo: `adanet.experimental.ModelFlow` is @csvillalta's API for AutoML using Keras and TF 2. Please take a look at in under adanet/experimental, and let us know what you think.

[2020-02-01 00:57] bhack commented on #124
Any update on this?

[2020-02-10 13:23] GRIGORR opened #147 "Question regarding architecture"
Hi. Small question regarding the architecture. Do I understand correctly that at each iteration the candidate networks are trained separately, then each of them is added to Adanet, weights are learned and then the best one is chosen? Thanks in advance.

[2020-02-26 15:19] le-dawg commented on #147
I understan it like that too.

[2020-03-26 01:39] #142 closed

[2020-04-07 16:11] le-dawg commented on #135
What is the current level of development on this? There is no way to use  plot_model() on the subnetworks?

[2020-04-07 16:15] le-dawg opened #148 "adanet.ensemble.Ensembler not used in Tutorials?"
Obsolete

[2020-04-07 16:39] cweill commented on #148
@le-dawg

[2020-04-07 16:43] cweill commented on #147
@GRIGORR That is correct: all the candidate subnetworks (and their associated ensemble) are trained in parallel in the same TensorFlow graph. At the end of each iteration, the best subnetwork is chosen based on its performance within the ensemble.

[2020-04-07 16:48] le-dawg commented on #148
Updated OP.

[2020-04-07 16:55] le-dawg commented on #147
From what I gather from the 0.8.0 docs it sounds to me like one AdaNet iteration actually selects a complete Ensemble each iteration and discards the others. Could it be said that each Ensemble from the candidate ensemble set differs from all the other candidate Ensembles in the subnetwork that has been added to it in the current iteration?

[2020-04-14 19:14] le-dawg commented on #148
Can you poiny me to any reference impleentation_ I have deriived my Builder and Generator classes from the tutorial definition but I am stuck trying to determine wehterh and als HOW my AdaNet instance is Ensembling. Given that build.mixtureweight doesnt compute anything I wonder what the final ensembles look like. @cweill

[2020-04-14 19:16] le-dawg commented on #148
Edited the typos, I have a freshly fractured hand :/

[2020-04-14 19:43] le-dawg opened #149 "Adding different loss to tf.estimator.Head"
Hi all,

I seek to optimize an ensemble for binary classification. My established baseline uses the `binary_crossentropy` loss provided by `keras`. Using the same notation yields `unsupported callable`, because it seems the `base_head.Head()`does not tie into the default tf implementation.

What can I do train with the binary crossetropy?

[2020-04-15 18:56] le-dawg commented on #29
I run into a parsing error when using your approach.  With pbtxt and pb both.

I'm running into this problem now too. I haven't found any guide or hint on how to deal with the huge folder structure in the model_dir

While I use keras models in the definitions inside the Generator/Builder I am interested in the final architecure, not the individual subnets i could print in this way.

Any ideas on h

[2020-04-17 22:13] cweill commented on #149
Have you tried [`tf.estimator.BinaryClassHead()`](https://www.tensorflow.org/api_docs/python/tf/estimator/BinaryClassHead)? I believe it uses the same loss under the hood, specifically `sigmoid_cross_entropy`.

[2020-04-17 22:16] cweill commented on #148
They still create ensembles, it just that we now use the `adanet.ensemble.Ensembler` suclasses to handle this feature. In the tutorials, they were using the old method with the `build_mixture_weights`. The same behavior can be found in the `adanet.ensemble.ComplexityRegularizedEnsembler` class.

[2020-04-17 22:18] cweill commented on #29
Keras's `plot_model` function does not work with the current implementation of AdaNet, since we use the `tf.estimator.Estimator` API which does not support it.

[2020-04-19 18:58] le-dawg opened #150 "Correct place to add custom metric_fn?"
I wouldlike to my implementation of the MCC so that I can look at its convergence during training. In the generic Estimator API custom metric_fn can be added as part of the `output_spec ` in dependence on the `ModeKeys` inside the model_fn. In AdaNet this neat structure has ben shuffled a bit. Where should I look ?

[code]

[2020-04-19 22:51] le-dawg commented on #149
Well, I figured that out in the meantime.
But a problem persists:
`BinaryClassHead` It uses the correct loss but when I predict using a simple_dnn AdaNet of three iterations  via `estimator.predict()` the network always predicts with class 0.

The same head works on the canned `tf.estimator.LinearClassifier`  which I would suspect to be a problem regarding an incorrect loss function. I can't troub

[2020-04-19 23:06] le-dawg commented on #143
From the tutorials:

`max_iteration_steps=TRAIN_STEPS // ADANET_ITERATIONS,`

If I want to train with 100 epochs over one Adanet iteration, meaning `num_examples/batch_size` steps per epoch, should I set `max_iteration_steps` to that value?

I have a sample size of 5265 and batch sizes of 50, so I have about 105 update steps per epoch. Should my `max_iteration_steps` be 10500?

[2020-04-20 13:52] nicholasbreckwoldt opened #151 "Early stopping 'best-practice' using Adanet"
I would like to apply early stopping using Adanet (0.8.0), in line with this version’s release notes:  “_Support subnetwork hooks requesting early stopping_”

Based on my understanding of the `adanet.Estimator.train` function’s ‘_hooks_’ input argument (i.e. a list of _tf.train.SessionRunHook_ subclass instances used for callbacks inside the training loop), I imagine the following code configurati

[2020-04-22 11:20] le-dawg opened #152 "Interpretation of serialized "architecture_summary""
As visual representations of AdaNet ensembles are not attainable at the moment, I would like to know if the string recedingt the layer architecture cntains any useful information that pertains to width of the layers of the subnetworks?
Example:

[2020-04-22 22:57] cweill commented on #152
@le-dawg: There are two ways to visualize the models in TensorBoard:
1. Via the `Text` tab which will display the architecture per step.
1. Via the `Graph` tab where you can see the shapes of the various layers, and how they join together. It's not the most clean, but it works fairly well.

[2020-04-22 23:00] cweill commented on #150
See the metric_fn argument in the Estimator and AutoEnsembleEstimator constructors: https://adanet.readthedocs.io/en/v0.8.0/adanet.html#adanet.Estimator

[2020-04-23 00:43] le-dawg commented on #152
All that I see i the computational graph. The Conceptual graph radio button is greyed out when I read Adanet logs, always hs been. Am I perhaps reading th wrong folder? My mdel_dir is the global one, as in the tutorials.

[2020-04-23 00:46] le-dawg commented on #150
Including my metric function there resulted in an error that i cannot remmebr off thetop of my head. I will post the error when I return to my workstation .

[2020-04-25 20:37] le-dawg opened #153 "simple_dnn should not work !"
Obsolete: discovered there there are multiple ways to use the functional model API.

[2020-04-25 20:55] #153 closed

[2020-04-26 17:31] le-dawg commented on #58
I need help in figuring out LSTM with AdaNet. I have followed the general structure of the SimpleDNN class and I got nowhere in _three_ days.

I simplified SimpleDNN as much as possible, ignoring the layer growth loop completely:
[code]
This is the only configuration that doesn't end up in [this conundrum](https://stackoverflow.com/questions/54732085/keras-tensor-reshaping-lstm-input-shape-error).

[2020-04-29 12:12] le-dawg commented on #143
Pinging

[2020-04-29 18:44] le-dawg opened #154 "[Bug] AutoEnsembleEstimator() cannot be instatiated if tf< 2.x"
**Intent:**
I am following the code sample given by @cweill  and given in the docs v0.8.0 to instatiate an `AutoEnsembleEstimator()` with the simplest use case of one candidate.

**Error:**
` The given object is not an Optimizer instance. Given: <tensorflow.python.keras.optimizer_v2.rmsprop.RMSprop object at 0x7fd6f61ca160>`
[Minimal reproducible example HERE](https://colab.research.google.com/dri

[2020-06-02 23:54] maxmarketit opened #155 "I am having errors and do not know what to do..."
I am following this blog,
https://medium.com/neuronio/introduction-to-adanet-c01fad8b084

I get errors,

[code]

I have changed
`tf.estimator.inputs.numpy_input_fn` to ` tf.compat.v1.estimator.inputs.pandas_input_fn`.

my `pip freeze` goes like this,
[code]

[2020-06-03 19:47] nicholasbreckwoldt opened #156 "Evaluation issue using TPUEstimator"
Running into an issue when using Adanet TPUEstimator. Say, for example, the estimator is configured with `max_iteration_steps=500` and it is desired to evaluate the model's performance during training after every 100 training steps (i.e. `steps_per_evaluation=100`) for 2 complete Adanet iterations.

To achieve this, `estimator.train(max_steps, train_input`) followed by `estimator.evaluate(eval_inp

[2020-07-09 21:05] cweill commented on #156
@nicholasbreckwoldt: We just released `adanet=0.9.0` which includes better TPU, and TF 2 support. Please try installing it, and let us know if it resolves your issue.

[2020-07-09 21:31] cweill commented on #154
@le-dawg We just released `adanet v0.9.0` which drops TF 1.* support. Could you please try upgrading adanet to the latest version?

[2020-07-09 21:33] cweill commented on #155
@maxmarketit: We just released adanet=0.9.0 which includes better TF 2 support. Please try installing it, and let us know if it resolves your issue.

[2020-07-09 21:33] cweill commented on #150
Closing for now.

[2020-07-09 21:33] #150 closed

[2020-07-09 21:45] cweill commented on #131
@jankrynauw  We just released adanet=0.9.0 which includes better TPU, and TF 2 support. Please try installing it, and let us know if it resolves your issue.

[2020-07-09 21:46] cweill commented on #130
This should be resolved now.

[2020-07-09 21:46] #130 closed

[2020-07-14 17:43] nicholasbreckwoldt opened #157 "RuntimeError with adanet_tpu tutorial using TF2.2 and Adanet 0.9.0"
Running into the following RuntimeError when running the `adanet_tpu` tutorial using `TF 2.2` and `Adanet 0.9.0`:

`All tensors outfed from TPU should preserve batch size dimension, but got scalar Tensor("OutfeedDequeueTuple:1", shape=(), dtype=int64, device=/job:tpu_worker/task:0/device:CPU:0)`

I have made some minor changes to the original tutorial code, i.e. replacing of `tf.contrib` module wi

[2020-07-14 17:56] nicholasbreckwoldt commented on #156
@cweill Thanks for the update! I am running into a new issue with the upgrade to `TF 2.2` and `adanet==0.9.0` which has so far prevented me from establishing whether the above evaluation issue has been resolved. I've added a description of this new issue (#157).

[2020-07-21 19:46] Gergues commented on #69
In my case, the NaN values were a result of NaN in the training datasets , while I was working on multiclass classifier , the problem was a dataframe positional filter  on the [ one hot encoding ] labels.

Resolving the the target dataset resolved my issue - hope this help someone else.
Best of luck.

[2020-09-02 02:56] wenqf11 opened #158 "AttributeError: module 'adanet' has no attribute 'AutoEnsembleEstimator'"
I use TF 2.1.0 and adanet 0.9.0 to run example code in ReadMe but I got this error  AttributeError: module 'adanet' has no attribute 'AutoEnsembleEstimator'

[2020-09-03 12:39] wtomin opened #159 "Is there any code to compute FLOPs and parameter size of adanet?"
Hi, I am curious about the parameter size and FLOPs (Floating Points Operations) of adanet ensemble model.

[2020-12-03 09:25] prakashsellathurai opened #160 "Error on running tutorial notebook in Google colab"
I ran into an issue on running
(https://github.com/tensorflow/adanet/blob/master/adanet/examples/tutorials/adanet_tpu.ipynb) notebook

I got error  like this in google colab

[code]

[2020-12-16 08:18] #160 closed

[2021-01-15 19:27] Sicily-F opened #161 "Using AdaNet ModelFlow with pre-trained models"
Hi everyone!!!

I'm trying to use AdaNet with ModelFlow in Google Colabs, as per the tutorial here: https://github.com/tensorflow/adanet/blob/master/adanet/experimental/adanet_modelflow_tutorial.ipynb

I tried to install adanet.experimental with https://github.com/tensorflow/adanet/blob/master/adanet/experimental/BUILD , however, this just ends up with the error code:

ModuleNotFoundError: No modu

[2021-03-06 08:56] georgech3 opened #162 "Tutorial"
Hello everyone,

I'm trying to apply AdaNet from tutorial in my local jupyter notebook, as I follow the tutorial here: https://github.com/tensorflow/adanet/blob/master/adanet/experimental/adanet_modelflow_tutorial.ipynb

**System information**

- Devices: Decktop PC
- Environment: Windows 10 Professional
- Running Platform: Anaconda
- Python version: 3.7
- Tensorflow version: 2.2 ( installed by `c

[2021-03-29 02:54] mainguyenanhvu commented on #161
Have you fixed this erro?

Please help me. Thank you very much.

[2021-05-05 15:49] omar16100 commented on #5
+1

[2022-02-02 20:39] #92 closed

[2022-07-16 08:57] #131 closed

[2022-09-29 18:31] erichulburd opened #163 "Is this repository deprecated?"
Has this work been subsumed by other projects? It seems that AutoKeras is actively maintained and I'm curious why AdaNet was never supported there: https://github.com/keras-team/autokeras/issues/415. Other alternative AutoDL libraries that seem well maintained are [Auto-PyTorch](https://github.com/automl/Auto-PyTorch) and [AutoGluon](https://auto.gluon.ai/stable/index.html)

Perhaps AdaNet evolved

[2022-09-30 15:04] scottyak commented on #163
Hi Eric,

Thank you for the question. While the principles of the AdaNet algorithm
still stand, the implementation of the AdaNet library is deeply tied to
tf.Estimator. With the transition to TF2 and keras.Models, "outer-loop"
libraries (such as AutoKeras) have made "outer-loop" algorithms (such as
AdaNet) easier to implement, and there is less of a need for a dedicated
"one-stop" library for sear